.main-menu { position: relative; z-index: 9; float: right; text-align: center; }
.main-menu a { -webkit-transition: all .3s; -moz-transition: all .3s; transition: all .3s }
.main-menu ul { position: relative; margin: 0; padding: 0; }
.main-menu ul li, .main-menu ul li a { position: relative; margin: 0; padding: 0 }
.main-menu ul li a { display: block; line-height: 20px; padding: 10px }
.main-menu>ul>li>a { color: #FFF; padding: 0 12px 15px; font-size: 16px; }
.main-menu>ul>li:hover>a { color: #FFFE00 /*#337ab7*/ }
.layer { display: none; position: fixed; top: 0; left: 0; width: 100%; min-width: 100%; min-height: 100%; background-color: #000; opacity: 0; z-index: 99999 }
.layer-is-visible { display: block; -webkit-animation: fade-in-layer .3s; -moz-animation: fade-in-layer .3s; -ms-animation: fade-in-layer .3s; -o-animation: fade-in-layer .3s; animation: fade-in-layer .3s; opacity: .5 }
#close_in, #header_menu, .cmn-toggle-switch { display: none }
a.dropdown-toggle.icon-search { display: inline-block }
.ie9 a.show-submenu, .ie9 a.show-submenu-mega { background: url(../img/fix_ie_9_menu.png) }
@media only screen and (min-width:992px) {
.main-menu { width: 100% }
.main-menu a { white-space: nowrap }
.main-menu ul li { display: inline-block }
.main-menu ul li.submenu:hover>a:after, .main-menu ul li.submenu:hover>a:before { bottom: -20px; opacity: 0 }
.main-menu ul .menu-wrapper, .main-menu ul ul { position: absolute; border-top: 2px solid #337ab7; display: none; z-index: 1; height: auto; right: 8px; /*left: 3px;*/ top: 100%; margin: 0; padding: 0; background: #fff; min-width: 140px; -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175); box-shadow: 0 6px 12px rgba(0,0,0,.175) }
.main-menu ul ul .menu-wrapper, .main-menu ul ul ul { position: absolute; border-top: 0; display: none; z-index: 1; height: auto; left: 100%; top: 0; margin: 0; padding: 0; background: #fff; min-width: 170px; -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175); box-shadow: 0 6px 12px rgba(0,0,0,.175) }
.main-menu ul ul:before { bottom: 100%; right: 11%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-bottom-color: #337ab7; border-width: 7px; margin-right: -7px }
.main-menu ul ul ul:before { border-width: 0; margin-left: 0 }
.main-menu ul .menu-wrapper ul { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; border-top: none; margin: 0; padding: 0 }
.main-menu ul .menu-wrapper ul:before { border: 0 }
.main-menu ul li:hover>.menu-wrapper, .main-menu ul li:hover>ul { display: block; padding: 0 }
.main-menu ul ul li { display: block; height: auto; padding: 0; text-align: left; }
.main-menu ul ul li a { font-size: 12px; color: #666; border-bottom: 1px solid #ededed; display: block }
.main-menu ul ul li:last-child a { border-bottom: none }
.main-menu ul ul li:hover>a { background-color: #f9f9f9; color: #2184DA /*#337ab7*/ }
.main-menu ul li.megamenu { position: static }
.main-menu ul li.megamenu .menu-wrapper { position: absolute; top: 100%; width: 1170px; float: left; left: auto; right: 0; padding: 10px 15px 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box }
.main-menu ul .menu-wrapper h3 { font-size: 13px; text-transform: uppercase; border-bottom: 2px solid #ededed; padding-bottom: 10px; margin-bottom: 0 }
.main-menu ul .menu-wrapper ul { position: relative; display: block; margin-bottom: 15px; left: 0 }
}
@media only screen and (max-width:991px) {
#header_menu { text-align: center; padding: 25px 15px 10px; position: relative; display: block }
.main-menu ul li a:hover, a.show-submenu-mega:focus, a.show-submenu-mega:hover, a.show-submenu:focus, a.show-submenu:hover { color: #337ab7!important; background-color: #f9f9f9 }
.main-menu ul li { border-top: none; border-bottom: 1px solid #ededed; color: #fff }
.main-menu ul li a { padding: 10px 15px!important }
.main-menu h3 { font-size: 12px; line-height: 14px; margin: 0; padding: 0 0 15px 15px; color: #333; text-transform: uppercase }
.megamenu .menu-wrapper>div { padding: 0 }
.main-menu a, .main-menu li { display: block; color: #333!important }
.main-menu li { position: relative }
.main-menu a:hover { color: #337ab7!important }
.main-menu ul>li { padding-bottom: 0 }
.main-menu ul>li i { float: right }
.main-menu ul li.submenu ul { font-size: 12px; border-left: 1px solid #ededed; margin: 0 0 15px 25px }
.main-menu ul li.submenu ul li { font-size: 12px; border: 0 }
.main-menu ul li.submenu ul ul { border-left: none; margin: 0 0 15px 15px }
.main-menu { overflow: auto; left: -100%; bottom: 0; width: 32%; height: 100%; opacity: 0; position: fixed; background-color: #fff; -webkit-transition: left .8s, opacity .5s; -moz-transition: left .8s, opacity .5s; transition: left .8s, opacity .5s; z-index: 9999; -webkit-box-shadow: 1px 0 5px 0 rgba(50,50,50,.55); -moz-box-shadow: 1px 0 5px 0 rgba(50,50,50,.55); box-shadow: 1px 0 5px 0 rgba(50,50,50,.55) }
.main-menu.show { visibility: visible; left: 0; opacity: 1 }
.main-menu .show-submenu+ul, a.show-submenu-mega+.menu-wrapper { display: none; visibility: hidden }
.main-menu a.show-submenu+ul.show_normal, a.show-submenu-mega+.menu-wrapper.show_mega { display: block; visibility: visible }
.cmn-toggle-switch { display: block; overflow: visible; position: absolute; top: 15px; right: 25px; margin: 0; padding: 0; width: 30px; height: 30px; font-size: 0; text-indent: -9999px; -webkit-appearance: none; -moz-appearance: none; appearance: none; box-shadow: none; border: none; cursor: pointer }
.cmn-toggle-switch:focus { outline: 0 }
.cmn-toggle-switch span { display: block; position: absolute; top: 10px; left: 0; right: 0; height: 2px; background: #333 }
.cmn-toggle-switch span::after, .cmn-toggle-switch span::before { position: absolute; display: block; left: 0; width: 100%; height: 2px; background-color: #333; content: "" }
.sticky .cmn-toggle-switch span, .sticky .cmn-toggle-switch span::after, .sticky .cmn-toggle-switch span::before { background-color: #333 }
.cmn-toggle-switch span::before { top: -10px }
.cmn-toggle-switch span::after { bottom: -10px }
.cmn-toggle-switch__rot span { -webkit-transition: -webkit-transform .3s; transition: transform .3s }
.cmn-toggle-switch__rot.active span { -webkit-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg) }
}
@media only screen and (max-width:980px) {
.main-menu { width: 30% }
.main-menu ul {padding: 0;}
a#close_in { display: block; position: absolute; right: 15px; top: 15px; width: 20px; height: 20px }
#close_in i { color: #555!important; font-size: 16px }
}
@media only screen and (max-width:800px) {
.main-menu { width: 35% }
.main-menu ul {padding: 0;}
a#close_in { display: block; position: absolute; right: 15px; top: 15px; width: 20px; height: 20px }
#close_in i { color: #555!important; font-size: 16px }
}
@media only screen and (max-width:768px) {
.main-menu { width: 37% }
a#close_in { display: block; position: absolute; right: 15px; top: 15px; width: 20px; height: 20px }
#close_in i { color: #555!important; font-size: 16px }
}
@media only screen and (max-width:640px) {
.main-menu { width: 45% }
a#close_in { display: block; position: absolute; right: 15px; top: 15px; width: 20px; height: 20px }
#close_in i { color: #555!important; font-size: 16px }
}
@media only screen and (max-width:480px) {
.main-menu { width: 60%}
.main-menu ul { padding: 0;}
a#close_in { display: block; position: absolute; right: 15px; top: 15px; width: 20px; height: 20px }
#close_in i { color: #555!important; font-size: 16px }
}
@media only screen and (max-width:360px) {
.main-menu { width: 80%}
.main-menu ul { padding: 0;}
a#close_in { display: block; position: absolute; right: 15px; top: 15px; width: 20px; height: 20px }
#close_in i { color: #555!important; font-size: 16px }
}
@media only screen and (max-width:320px) {
.main-menu { width: 100%}
.main-menu ul { padding: 0;}
a#close_in { display: block; position: absolute; right: 15px; top: 15px; width: 20px; height: 20px }
#close_in i { color: #555!important; font-size: 16px }
}
