/*============================================================================================*/
/* Repsonsive  */
/*============================================================================================*/
#booking_bar_top .input-icon_nobg {
    left: 20px;
    top: 10px;
}

.row.ticketTotalPrice .ticket-type{
	line-height: normal;
}


.reupespps2ski{
	padding-top: 0px;
}
@media(max-width: 1024px){
	.product_text {
    width: 102%;
    position: absolute;
    left: 0;
}
.total-price-div{
	text-align: center;
	font-size: 18px;
	margin: 10px 0;
}
.pop_up{	    
	  top:20%;
}
	#booking_bar_top .input-icon_nobg {
    left: 17px;
    top: 10px;
}
	a.btn_full, .btn_full {
    padding: 10px 42px;
    width: 160px;
}
	.ticketsWithAddOns {
    	width: 100% !important;
	}
	.addOnsListBlock .widget-container{
		width: 100% !important;
	}
.abouste-ski{
	position: absolute;
}
.addnew{
	text-align: center;
}
.stepHeader.stepOpenHere.row.stepOpen .steps-title{position: absolute;
top: 19px;}

}
@media(max-width: 768px){
		.product_text {
    width: 100%;
    position: initial;
    left: 0;
}

	.txtright.cleck_mor {
    text-align: center;
}
	.payment_table_package table tr td{
		text-align: left;
		font-size: 15px !important;
	}
	.package_table_section .border_right {
    border-right: none;
    border-bottom: 1px solid #00BCD4;
}
	.block .stepHeader.stepOpen .steps{
		    background: url(../img/step-active.png) no-repeat top left !important;
	}
	#booking_bar_top .input-icon_nobg {
    left: 7px;
    top: 10px;
}
		a.btn_full, .btn_full {
    padding: 10px 20px 10px 30px !important;
        width: 100%;
}
	.bookbtn {
    left: 0;
    display: table;
    width: 100%;
	}	
	.mob-right{
		position: absolute;
	}
	.mob-left{
		    margin-left: 45px;
	}
	#booking_bar_top {
    /*top: 198px !important;*/
    left: -130px !important;
}
}

@media(max-width: 767px){
	.continue{
		padding: 0px 0px 0px 0px !important;
	}
	.bg_fail1 .succe_cont .top_heading {
   			 padding: 15px 0px 15px 0px;
		}
	.bg_fail .all_content .heading_top h1 span {
   		 display: inline-block;
   		 font-size: 15px;
		}
	.addOnsListBlock .widget-title {
    font-size: 1.09em;
    text-align: center;
}
	.nav-tabs>li {
    background-color: #c4c4c4;
    border-right: 1px solid #aaaaaa;
    width: 100%;
    text-align: center;
}
	.text-center-mobile{
		text-align: center;
	}

	.width100{
		width: 100% !important;
	}
	.mob-left {
   margin-left: 0px;
}
.mob-right {
    position: inherit;
}

}

@media(max-width: 640px){
	.abouste-ski {
    position: inherit;
}
	.width1001-ski{
		width: 100% !important;
		text-align: center !important;
	}
	#booking_bar_top {
    /*top: 159px !important;
    left: -100px !important;*/
}
	.reupespps2 {
    	padding-right: 35px;
    	font-size: 2.0em;
	}
	.reupespps {
    	font-size: 19px;
		padding: 0;
	}
	.ticket-type {
    	font-size: 16px !important;
	}
	.addOnsListBlock .col-xs-3.txtright {
    width: 18%;
    padding-right: 0;
    position: relative;
    top: 0;
    left: 0;
}
.col-xs-2.width1001-ski > div{
		padding-top: 0px !important;
	}
}

@media (max-width: 480px){
		.scifiheader h4{
		font-size: 15px;
	}


.bg_fail{
		padding: 0px;
		margin-top: 65px;
	}
	.doller_left p {
    	color: #000!important;
    	font-size: 15px;
    	padding: 0;
	}
	.doller_left h2 i{
		font-size: 17px;
	}
	.top_head_bar h4 {
    	font-size: 15px;
	}
	.block .infoBlock {
    padding: 2em 0em !important;
}
	.bg_fail1 .succe_cont .top_heading {
    padding: 0;
}
	
	.web_rupee {
    	font-size: 17px !important;
	}
	.login_status {
    padding-top: 5px !important;
}
	#updateFullPage .subHead {
    	width: 70%;
	}

	#booking_bar_top {
    /*top: 116px !important;
    left: -71px !important;*/
}
.reupespps2 {
    padding-right: 35px;
    font-size: 23px;
}
.width1001{
		width: 100% !important;
	}
	.width1001-ski{
		width: 100% !important;
		text-align: center !important;
	}
	.capbox-inner{
		width: 100%;
	}
	.addOnsListBlock .col-xs-3.txtright {
    width: 18%;
    padding-right: 0;
    position: relative;
    top: 0;
    left: 0;
}

}

@media (max-width: 425px){
	.block .infoBlock {
    	padding: 1em 1em !important;
	}
	.reupespps2 {
    padding-right: 23px;
    font-size: 22px;
	}
	.block .stepHeader .steps-title {
 	   margin-top: -31px;
	}

	.row.ticketTotalPrice .ticket-type {
    line-height: normal;
    text-align: left;
}
#CaptchaDiv{
	float: none !important;
}
}

@media (max-width: 414px){
.reupespps2 {
    padding-right: 20px;
    font-size: 21px;
	}
}

@media(max-width: 375px){
	.col-xs-6.txtright p.reupespps.marhhe{
		padding-top: 0px;
		padding:0px;
	}

	.payment_details_main {
    float: left;
    width: 100%;
    padding: 25px 0;
}
	
	
	#ticketsAddOnsDone .stepHeader .steps-title {
    	width: 165px !important;
    	top: 13px;
		left: 11px;
	}
	#ticketsAddOnsInfo .subHead {
    padding-right: 40px !important;
    width: 100% !important;
    margin-top: 60px !important;
    padding: 0 10px !important;
    text-align: center !important;
}
}

@media(max-width: 360px){
	.login.box_style_1 .form-control-1{
		font-size: 10.5px;
	}
	.width-full{
		width: 100% !important;
	}

	.Summary-ski{
		margin-top: -20px !important;
	}
	.mobile-visitorsCount{
		position: relative;
    	left:0px;
	}
	.mobile-visitorsCount2{
	padding: 0;
	position: relative;
	right: 0px;
	top:0px;
}

	#summaryClose .steps-title {
    width: 96%;
    position: relative;
    top:-5px;
}



	.stepHeader.stepOpenHere.row.stepOpen .fRight.subHead{
		line-height: normal !important;
	}
	.col-xs-3.txtcenter.visitorsCount {
    	margin-top: 15px;
	}
	#booking_bar_top {
    	/*top: 83px !important;
    	left: -51px !important;*/
	}
	.block .stepHeader p {
	    line-height: 25px !important;
	}
	.stepHeader.stepDone.stepDoneHere.relative.row .fRight.subHead{
		margin: 0.3em 0em !important;
		width: 100% !important;
		text-align: center !important;
		margin-top: 40px !important;
		padding: 0 11px !important;
	}
	#ticketsAddOnsDone .stepHeader .steps-title {
    	position: absolute;
	}
	.stepHeader.stepOpenHere.row.stepOpen .steps-title{
		position:absolute;
		top:10px;
	}
}
@media(min-width: 320px){
	
}
	
	
	
	}
@media(max-width: 320px){

	.bg_fail1{
		margin-top: 65px; 
	}
	.btn_green.proceed_buttton {
    	width: 240px;
	}
	
	#updateFullPage .subHead {
    width: 50%;
}
	.mobile-visitorsCount{
		position: initial;
    	left: -50px;
	}
	.mobile-visitorsCount2{
	padding: 0;
	position: relative;
	right: 0px;
	top: 0px;
}
	#summaryClose .steps-title {
    	top: 0;
	}
	.block .stepHeader.stepClose .steps-title {
    margin-top: -30px;
    line-height: 39px !important;
}

	.col-xs-3.txtcenter.visitorsCount {
    margin-top: 0px;
	width:100%; 
	text-align:center;
	}
	.reupespps2 {
    font-size: 19px;
	}
	.stepHeader.stepDone.stepDoneHere.relative.row .fRight.subHead {
    width: auto;
    margin-top: 60px !important;
    text-align: center;
    padding: 0;
}
}


@media (min-width: 1200px) and (max-width: 1400px) {
}
@media (min-width: 992px) and (max-width: 1200px) {
}
@media (min-width: 768px) and (max-width: 1200px) {
#booking_bar {
	bottom: 0px;
}
#booking_bar_top {
    /*top: 228px;
    left: -180px;*/
}
#contact_container, #habitat_container {
	height: 328px;
}
#booking_container {
	height: 620px;
}
#logo a .logo {
	margin-left: -55px;
	margin-top: 0px;
	height: 150px;
}
#general_decor {
	display: none
}
#position {
	padding-top: 95px;
}
#snow_decor {
	top: -50px;
}
.pull-right {
	float: none !important;
}
.cmn-toggle-switch {
	right: 25px;
}
.main_title {
	font-size: 14px;
}
.main_title h2 {
	font-size: 24px;
}
.main_title p {
	font-size: 16px
}
.margin_60 {
	padding-top: 30px;
	padding-bottom: 30px;
}
.margin_30 {
	margin-top: 15px;
	margin-bottom: 15px;
}
.login_status {
	float: right;
	font-size: 18px;
}

.place-to-visit {
	float: none;
	width: 145px;
}
.iceWrap {
	display: none
}
.main-menu {
	text-align: left
}
}
@media (max-width: 991px) {
	.col-xs-2.text-center-mobile {
    text-align: center;
    margin: 0 auto;
   width: 100% !important;
}
}
@media (max-width: 1200px) {

 .test-incre {
    width: 33px;
    margin: 3px 2px;
}
}
@media (max-width: 1100px) {






}
@media (max-width: 990px) {
}
@media (min-width: 769px) and (max-width: 990px) {
	.test-incre {
    width:45px;
    margin: 3px 4px;}
}
 @media (min-width: 981px) and (max-width: 1024px) {

#logo a .logo {
	margin-left: -55px;
	margin-top: 0px;
	height: 180px;
}

.rounded-corners{
	padding: 40px 15px;
}
#contact_container, #habitat_container {
	padding: 0px;
	height: 343px;
}
#position {
	padding-top: 0px;
}
#booking_bar {
	bottom: 15px;
}
#booking_container {
	height: 590px;
}
#snow_decor {
	top: -50px;
}
.place-to-visit {
	width: 170px;
}
}
 @media (min-width: 801px) and (max-width: 980px) {
#booking_bar {
	bottom: 0px;
}
#booking_bar_top {
	/*top: 328px;*/
}
#contact_container, #habitat_container {
	height: 328px;
}
#booking_container {
	height: 560px;
}
#logo a .logo {
	margin-left: -55px;
	margin-top: 0px;
	height: 150px;
}
#general_decor {
	display: none
}
#position {
	padding-top: 95px;
}
#snow_decor {
	top: -50px;
}
.pull-right {
	float: none !important;
}
.cmn-toggle-switch {
	right: 25px;
}
.main_title {
	font-size: 14px;
}
.main_title h2 {
	font-size: 24px;
}
.main_title p {
	font-size: 16px
}
.margin_60 {
	padding-top: 30px;
	padding-bottom: 30px;
}
.margin_30 {
	margin-top: 15px;
	margin-bottom: 15px;
}
.login_status {
	float: right;
	font-size: 18px;
}
.login {
	width: 70%;
}
.place-to-visit {
	float: none;
	width: 145px;
}
.iceWrap {
	display: none
}
.main-menu {
	text-align: left
}
}

@media(max-width: 768px){
	.col-md-3.bookbtn {
    	left: 0;
	}
}

/* Mobile Portrait */
@media (min-width: 768px) and (max-width: 800px) {
#booking_bar {
	bottom: 0px;
}
#booking_bar_top {
	/*top: 268px;*/
}
#contact_container, #habitat_container {
	height: 268px;
}
#booking_container {
	height: 460px;
}
#logo a .logo {
	margin-left: -55px;
	margin-top: 0px;
	height: 150px;
}
#general_decor {
	display: none
}
#position {
	padding-top: 93px;
}
#snow_decor {
	top: -50px;
}
.pull-right {
	float: none !important;
}
.cmn-toggle-switch {
	right: 25px;
}
.main_title {
	font-size: 14px;
}
.main_title h2 {
	font-size: 24px;
}
.main_title p {
	font-size: 16px
}
.margin_60 {
	padding-top: 30px;
	padding-bottom: 30px;
}
.margin_30 {
	margin-top: 15px;
	margin-bottom: 15px;
}
.login_status {
	float: right;
	font-size: 18px;
}
.login {
	width: 60%;
}
.place-to-visit {
	float: none;
	width: 145px;
}
.iceWrap {
	display: none
}
.main-menu {
	text-align: left
}
}

/* Mobile Portrait */
@media (min-width: 641px) and (max-width: 768px) {
#booking_bar {
	bottom: 0px;
}
#booking_bar_top {
	/*top: 258px;*/
}
#booking_container {
	height: 460px;
}
#contact_container, #habitat_container {
	height: 258px;
}
#logo a .logo {
	margin-left: -55px;
	margin-top: 0px;
	height: 150px;
}
#general_decor {
	display: none
}
#position {
	padding-top: 90px;
}
#snow_decor {
	top: -50px;
}
.margin_60 {
	padding-top: 30px;
	padding-bottom: 30px;
}
.margin_30 {
	margin-top: 15px;
	margin-bottom: 15px;
}
.pull-right {
	float: none !important;
}
.cmn-toggle-switch {
	right: 25px;
}
.main_title {
	font-size: 14px;
}
.main_title h2 {
	font-size: 24px;
}
.main_title p {
	font-size: 16px
}
.login_status {
	float: right;
	font-size: 18px;
}
.login {
	width: 100%;
}
.place-to-visit {
	float: none;
	width: 145px;
}
.iceWrap {
	display: none
}
.main-menu {
	text-align: left
}
}

/* Mobile Landscape */
@media (min-width: 481px) and (max-width: 640px) {
#logo a .logo {
	margin-left: -55px;
	margin-top: 0px;
	height: 125px;
}
#booking_bar_top {
	/*top: 216px;*/
}
#general_decor {
	display: none
}
#position {
	padding-top: 90px;
}
#contact_container, #habitat_container {
	height: 215px;
}
#booking_bar {
	bottom: 0px;
}
#booking_container {
	height: 400px;
}
#map {
	width: 100%;
	height: 350px
}
#snow_decor {
	top: -50px;
}
.login_status {
	float: right;
	font-size: 18px;
}
.footer_address {
	line-height: 20px;
}
.pull-right {
	float: none !important;
}
.login {
	width: 100%;
}
.place-to-visit {
	float: none;
	width: 145px;
}
.iceWrap {
	display: none
}
.main-menu {
	text-align: left
}
}



@media(max-width: 425px){
	

}

@media(max-width: 414px){
	
}
/* Mobile Landscape */
@media (min-width: 361px) and (max-width: 480px) {
#logo a .logo {
	margin-left: -55px;
	margin-top: 0px;
	height: 85px;
}
#booking_container {
	height: 285px;
	margin-bottom: 55px;
}
#booking_bar {
	bottom: -55px;
}
#booking_bar_top {
	/*top: 160px;*/
}
#general_decor {
	display: none
}
#position {
	padding-top: 90px;
}
#contact_container, #habitat_container {
	height: 160px;
}
#map {
	width: 100%;
	height: 350px
}
#snow_decor {
	top: -50px;
}
.login_status {
	float: right;
	font-size: 14px;
	padding-top: 10px;
}
.footer_address {
	line-height: 20px;
}
.login {
	width: 100%;
}
.place-to-visit {
	float: none;
	width: 145px;
}
.iceWrap {
	display: none
}
.main-menu {
	text-align: left
}
}

/* Mobile Portrait */
@media (min-width: 321px) and (max-width: 360px) {
#logo a .logo {
	margin-left: -12px;
    margin-top: -35px;
	height: 65px;
}
#booking_container {
	height: 180px;
    margin-bottom: 70px;
}
#booking_bar {
	bottom: -55px;
}
.bookbtn {
	left:0px;
}
.input-icon_nobg {
    left: 57px;
	top: 7px;
}
a.btn_full, .btn_full {
    padding: 6px 10px;
    font-size: 14px;
    margin-bottom: 5px;
}
a.btn_2, .btn_2 {
    padding: 4px 15px;
    font-size: 14px;
}
a.btn_2.outline, .btn_2.outiline, input .btn_2.outiline {
    padding: 4px 18px;
}
.form-group {
    margin-bottom: 10px;
}
.margin_60 {
	padding-top: 0px; 
    padding-bottom: 30px;
}
.margin_30 {
    margin-top: 15px;
    margin-bottom: 15px;
}
#booking_bar {
	bottom: -60px;
}
#contact_container, #habitat_container {
	height: 120px;
}
#booking_bar_top {
	/*top: 121px;*/
}
#general_decor {
	display: none
}
#position {
	padding-top: 90px;
}
#map {
	width: 100%;
	height: 350px
}
#snow_decor {
	top: -50px;
}
.login_status {
	float: left;
	font-size: 14px;
	padding: 14px 0 14px 0;
}
.footer_address {
	line-height: 20px;
}
.login {
	width: 100%;
}
.place-to-visit {
	float: none;
	width: 145px;
}
.iceWrap {
	display: none
}
.main-menu {
	text-align: left
}
}

/* Mobile Portrait */
@media (max-width: 320px) {
#logo a .logo {
	margin-left: -12px;
    margin-top: -35px;
	height: 65px;
}
#booking_container {
	height: 180px;
    margin-bottom: 70px;
}
.bookbtn {
	left:0px;
}
.input-icon_nobg {
    left: 27px;
	top: 7px;
}
a.btn_full, .btn_full {
    padding: 6px 10px;
    font-size: 14px;
    margin-bottom: 5px;
}
a.btn_2, .btn_2 {
    padding: 4px 15px;
    font-size: 14px;
}
a.btn_2.outline, .btn_2.outiline, input .btn_2.outiline {
    padding: 4px 18px;
}
.form-group {
    margin-bottom: 10px;
}
.margin_60 {
	padding-top: 0px; 
    padding-bottom: 30px;
}
.margin_30 {
    margin-top: 15px;
    margin-bottom: 15px;
}
#booking_bar {
	bottom: -60px;
}
#contact_container, #habitat_container {
	height: 72px;
}
#booking_bar_top {
	/*top: 110px*/
}
#general_decor {
	display: none
}
#position {
	padding-top: 90px;
}
#map {
	width: 100%;
	height: 350px
}
#snow_decor {
	top: -50px;
}
.login_status {
	float: left;
	font-size: 14px;
	padding: 14px 0 14px 0;
}
.footer_address {
	line-height: 20px;
}
.login {
	width: 100%;
}
.place-to-visit {
	float: none;
	width: 145px;
}
.iceWrap {
	display: none
}
.main-menu {
	text-align: left
}
}
@media (min-width: 768px) {
	.step_payment .container{ width:auto;}
	}