@font-face {
	font-family: 'Grinched Regular';
	src: url('../font/grinchedregular-webfont.eot');
	src: url('../font/grinchedregular-webfont.eot?#iefix') format('embedded-opentype'), url('../font/grinchedregular-webfont.woff2') format('woff2'), url('../font/grinchedregular-webfont.woff') format('woff'), url('../font/grinchedregular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}
i.color_1 {
	color: #e04f67
}
i.color_2 {
	color: #1cbbb4
}
i.color_3 {
	color: #82ca9c
}
i.color_4 {
	color: #f7941d
}
.flashmsg
{
color: red;
width: 100%;
    text-align: center;
}
.chromeframe {
	background: #ddd;
	color: #000;
	padding: 0.2em;
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
	z-index: 9999;
	width: 100%
}
.chromeframe a {
	color: #ed1c24
}
.iceWrap {
	width: 100%;
	height: 71px;
	background: url(../img/ice.png) repeat-x bottom left;
	position: absolute;
	top: 51px;
	left: 0;
}
.snowEffect {
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 0;
}
body {
	background: #fff;
	font-size: 13px;
	line-height: 20px;
	font-family: "Varela Round", Arial, sans-serif;
	color: #555;
	-webkit-font-smoothing: antialiased
}
h1, h2, h3, h4, h5, h6 {
	-webkit-font-smoothing: antialiased;
	color: #222;
	letter-spacing: -1px;
	font-family: "Varela Round", Arial, sans-serif
}
h3 {
	font-size: 20px
}
.designation {
	font-size: 11px;
    color: #424242;
	margin: -10px 0 10px;
}
.main_title {
	text-align: left;
	font-size: 16px;
	margin-bottom: 15px
}
.main_title h2 {
	letter-spacing: 1px;
    margin-bottom: 0;
    margin-top: 0;
    color: #5f5f5f;
}
.main_title span {
	display: block;
	width: 40px;
	height: 4px;
	background-color: #ededed;
	margin: auto;
	-webkit-border-radius: 5 px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 15px
}
.main_title p {
	font-family: "Lato", Arial, sans-serif;
	font-weight: 300;
	font-size: 20px
}
a {
	color: #0098da;
	text-decoration: none;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	outline: none
}
a:hover, a:focus {
	color: #68f147;
	text-decoration: none;
	outline: none
}
a.link_normal {
	position: relative;
	font-weight: 500;
	display: block;
	color: #6f962c;
	margin-top: 10px
}
a.link_normal:hover {
	color: #111
}
a.link_normal:after {
	font-style: normal;
	font-weight: normal;
	font-family: 'fontello';
	content: "\e89b";
	top: 1px;
	position: relative;
	margin-left: 5px
}
p {
	margin: 0 0 0 0
}
.margin_20_btm {
	margin: 0 0 20px 0 !important
}
.nopadding {
	margin: 0 !important;
	padding: 0 !important
}
.padding_10 {
	margin: 0 !important;
	padding: 0 10px 0 10px !important
}
hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #ddd
}
a.btn_full, .btn_full {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: #fff;
	width: 100%;
	background: #d40735;
	cursor: pointer;
	padding: 10px 10px;
	display: inline-block;
	outline: none;
	font-size: 16px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	text-align: center;
	margin-bottom: 10px
}
a.btn_full:hover, .btn_full:hover {
	background: #2957a4;
}


.btn_full1 {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: #fff;
	
	background: #d40735;
	cursor: pointer;
	padding: 10px 10px;
	display: inline-block;
	outline: none;
	font-size: 16px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	text-align: center;
	margin-bottom: 10px
}
 .btn_full:hover {
	background: #2957a4;
}
a.btn_1, .btn_1 {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: #fff;
	background: #337ab7;
	cursor: pointer;
	padding: 7px 15px;
	display: inline-block;
	outline: none;
	font-size: 12px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	font-weight: bold
}
a.btn_1.white, .btn_1.white {
	background: #fff;
	color: #003883; /*#0098da*/
	border: 1px solid
}
a.btn_1.white:hover, .btn_1.white a:hover, .btn_1.white:hover {
	background: rgba(76,176,52,0.50);/*#333;*/
	color: #fff !important
}
a.btn_1.outline, .btn_1.outiline, input .btn_1.outiline {
	color: #555;
	background: none;
	border: 2px solid #555;
	padding: 5px 18px
}
a.btn_1.outline:hover, .btn_1.outiline:hover, input .btn_1.outiline:hover {
	color: #fff;
	background: #86b535;
	border: 2px solid #86b535
}
a.btn_1.medium, .btn_1.medium {
	padding: 10px 25px;
	font-size: 14px
}
a.btn_1:hover, .btn_1:hover {
	background: #333
}
a.btn_2, .btn_2 {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: #fff;
	width: 100%;
	background: #337ab7;
	cursor: pointer;
	padding: 10px 15px;
	display: inline-block;
	outline: none;
	font-size: 16px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}
a.btn_2.white, .btn_2.white {
	background: #fff;
	color: #0098da;
	border: 1px solid
}
a.btn_2.white:hover, .btn_2.white a:hover, .btn_2.white:hover {
	background: #333;
	color: #fff !important
}
a.btn_2.outline, .btn_2.outiline, input .btn_2.outiline {
	color: #d40735;
    background: none;
    border: 2px solid #d40735;
	padding: 8px 18px
}
a.btn_2.outline:hover, .btn_2.outiline:hover, input .btn_2.outiline:hover {
	color: #fff;
	background: #06980c;
    border: 2px solid #2E7D32;
}
a.btn_2.medium, .btn_2.medium {
	padding: 10px 25px;
	font-size: 14px
}
a.btn_2:hover, .btn_2:hover {
	background: #333
}
.img_center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#top_header {
	background-color: #fff;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	width: 100%;
}
#top_header .container1 {
	padding: 0;
}
#top_phone {
	font-size: 14px
}
#logo {
	margin: 10px 0 0 50px;
}
.logo {
	height: 175px;
    top: 30px;
    left: -50px;
    position: relative;
}
.logo_header {
	display:none;
}
.logo_2{
	height: 200px;
	top: -25px;
    left: -95px;
    position: relative;
}
header {
	width: 100%;
	position: relative;
	left: 0;
	top: 0;
	z-index: 99999;
}
.nav_index {
	margin-top: 20px
}
.main-menu {
	background-color: rgba(0,56,131,0.8);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	padding-top: 15px;
}
#top_line {
	display: none;
}
ul#top_links {
	list-style: none;
	margin: 0;
	padding: 0;
	float: right;
	text-transform: uppercase;
	background: rgba(255,255,255,0.5)
}
ul#top_links li {
	display: inline-block;
	border-left: 1px solid rgba(0,0,0,0.1);
	margin-right: 7px;
	padding-left: 8px
}
ul#top_links li:first-child {
	border-left: none
}
ul#top_links a {
	color: #444
}
a#link_bt {
	float: right;
	background: rgba(255,255,255,0.5);
	color: #444;
	margin-right: 10px;
	padding: 0 8px;
	display: inline-block
}
a#link_bt:hover {
	background: rgba(0,0,0,0.5);
	color: #fff
}
footer {
	background: #17417b url(../img/footer_bg.png) repeat-x center bottom;
	padding: 15px 0 0 0;
	color: #fff;
	font-size: 13px;
	    width: 100%;
    float: left;
}
footer h3 {
	font-size: 17px;
	font-weight: bold;
	color: #68f147;
	text-transform: uppercase;
}
footer a {
	color: #FFF;
}
footer ul {
	margin: 0;
	padding: 0 0 0 0;
	list-style: none
}
.footer_address {
	line-height: 23px;
	margin: 0px;
}
.image_add {
	float: left;
	margin: 6px 5px 0px 0px;
}
.place-to-visit {
	float: right;
	width: 200px;
}
#social_footer {
	text-align: center;
	padding-bottom: 10px;
}
#social_footer p {
	color: #fff
}
#social_footer ul {
	margin: 0;
	padding: 20px 0 0 0;
	text-align: center
}
#social_footer ul li {
	display: inline-block;
	margin: 0 5px 10px 5px
}
#social_footer ul li a {
	color: #fff;
	text-align: center;
	border: 2px solid #FFF;
	line-height: 34px;
	display: block;
	font-size: 16px;
	width: 35px;
	height: 35px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%
}
#social_footer ul li a:hover {
	color: #68f147
}
ul#contact_details_footer {
	list-style: none;
	margin: 0;
	padding: 0
}
ul#contact_details_footer li {
	margin-bottom: 0px
}
#booking_container {
	position: relative;
	background: #FFF url(../img/home.jpg) no-repeat center top;
	background-size: cover;
	color: #fff;
	max-width: 100%;
	height: 675px;
	z-index: 99
}

#booking_container1 {
	position: relative;
	background: #FFF url(../img/home.jpg) no-repeat center top;
	background-size: cover;
	color: #fff;
	max-width: 100%;
	height: 675px;
	z-index: 99
}
#contact_container {
	position: relative;
	color: #fff;
	max-width: 100%;
	height: 333px;
	
	background: #FFF url(../img/background.jpg) no-repeat center top;
	background-size: cover;    
    	z-index: 99;
}
#habitat_container {
	position: relative;
	background: #FFF url(../img/background-habbitat.jpg) no-repeat center top;
	background-size: cover;
	color: #fff;
	max-width: 100%;
	height: 300px;
	z-index: 99
}
.#table>thead>tr>th {
padding: 6px 3px 6px 3px;
text-align:center;
line-height: 1.8;
}
#booking_bar {
	position: absolute;
	bottom: 35px;
	z-index: 99999;
	width: 100%;
	    background-color: rgba(212, 210, 210, 0.28);
    padding-top: 12px;
}

.noti{ width:100%; float:left; text-align:center;}

	
	.noti input[type=text] {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px rgba(255, 255, 255, 0.17);
   
    height: 43px;
    width: 100%;
    color: #fff;
    word-spacing: 1px;
    padding-left: 20px;
    padding-top: 0px;
    font-size: 16px;
    outline: none;
	float:left;
}
.noti select{  background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px rgba(255, 255, 255, 0.17);
	    color: #fff;
		    font-size: 17px}
	
	.noti select option{ color:#9999A8;}

.noti button {
       background-color: #d40735;
    border: 1px solid rgb(255, 255, 255);
	margin-top: 15px;
    color: #fff;
    width: 50%;
    word-spacing: 1px;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding-top: 0px;
    height: 43px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
	float:left;
}

.noti button:hover{
       background-color: #2957A4;
    
}
.noti input[type=text]::placeholder{
   color:#fff;
}


#booking_bar1 {
	position: absolute;
	bottom: 80px;
	z-index: 99999;
	width: 100%;
	       background-color: rgba(95, 115, 173, 0.55);
		padding: 15px 0px 15px 0px;
    
}
#booking_bar_top {
	position: relative;
        top: 210px;
    right: 210px;
    z-index: 99999;
    float: left;
}
.login {
	width: 62%;
	margin: 0 auto;
	background: #fff;
	padding: 25px 30px 35px 29px;
	border-radius: 4px;
}
.register {
	width: 100%;
	margin: 0 auto;
	background: #fff;
	padding: 20px 20px 1px 20px;
	border-radius: 4px;
}
.login_status {
	float: right;
}
.float-right {
	float: right;
}
.forgetpasswrd {
	float: right;
	line-height: 2.6em;
}
#map {
	width: 100%;
	height: 400px
}
#snow_decor {
	background: url(../img/pattern_3.png) repeat-x center bottom;
	height: 50px;
	width: 100%;
	position: absolute;
	top: -50px;
	left: 0;
	z-index: 9
}
#snow_decor_180 {
	background: url(../img/pattern_3.png) repeat-x center bottom;
	height: 50px;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0;
	z-index: 9;
	-ms-transform: rotate(180deg); /* IE 9 */
	-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
	transform: rotate(180deg);
}
 @media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
#map_decor {
background:url(../img/pattern_3_2x.png) repeat-x center bottom;
background-size:996px 50px
}
}
#close, .nav-gal {
	position: absolute;
	height: 39px;
	width: 39px;
	opacity: 0.6;
	right: 10px
}
#close {
	top: 10px;
	background: url('../img/close_gallery.png')
}
.nav-gal {
	top: 55px;
	background: url('../img/gallery_thumb.png')
}
#close:hover, .nav-gal:hover {
	cursor: pointer;
	opacity: 1
}
.intro_title.error h1 {
	font-size: 130px
}
.bg_gray {
	background-color: #f9f9f9;
	padding: 30px 0 20px 0;
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0
}
#general_facilities ul {
	list-style: none;
	padding: 0 0 20px 0;
	margin: 0;
	line-height: 34px
}
#general_facilities ul li i {
	font-size: 22px;
	float: left;
	margin: 0 10px 0 0
}
#general_decor1 {
	position: absolute;
	bottom: 0;
	left: 0;
	background: url(../img/pattern_3.png) repeat-x 0 0;
	z-index: 9999;
	width: 100%;
	height: 45px;
}
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
#general_decor {
background:url(../img/pattern_3_2x.png) repeat-x 0 0;
background-size:996px 50px
}
}
#toTop {
	width: 40px;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.6);
	text-align: center;
	padding: 10px;
	line-height: 20px;
	position: fixed;
	bottom: 10px;
	right: 20px;
	cursor: pointer;
	display: none;
	color: #fff;
	font-size: 20px;
	border-radius: 50%;
	z-index: 999;
}
#toTop:before {
	font-style: normal;
	font-weight: normal;
	font-family: "fontello";
	content: "\e899"
}
.qty-buttons {
	position: relative;
	width: 110px;
	height: 34px
}
input.qty {
	width: 80px;
	border-left: 0;
	border-right: 0;
	padding-left: 52px
}
input.qtyminus, input.qtyplus, input.qtyplus:focus {
	position: absolute;
	width: 35px;
	height: 34px;
	border: 1px solid #cccccc;
	outline: none;
	cursor: pointer;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	z-index: 9
}
input.qtyplus {
	background: #fff url(../img/plus.png) no-repeat center center;
	right: 0;
	top: 0;
	text-indent: -9999px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-left: 1px solid #cccccc
}
input.qtyminus {
	background: #fff url(../img/minus.png) no-repeat center center;
	text-indent: -9999px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	left: 0;
	top: 0;
	border-right: 1px solid #cccccc
}
#banner {
	text-align: center;
	background: url(../img/grass_frame.jpg);
	background-size: 100% 100%;
	min-height: 200px
}
#banner h3 span {
	display: block
}
#banner h3 {
	padding-top: 75px;
	font-size: 15px
}
#banner h3 span {
	font-size: 35px;
	font-weight: bold;
	color: #92278f
}
a.box_style_1.weahter {
	padding: 20px 20px 20px 15px;
	font-size: 15px;
	text-transform: uppercase;
	line-height: 20px;
	display: block !important
}
a.box_style_1.weahter i {
	font-size: 28px;
	float: left;
	margin-right: 10px;
	margin-top: -5px
}
.add_bottom_15 {
	margin-bottom: 15px
}
.add_bottom_30 {
	margin-bottom: 30px
}
.add_bottom_45 {
	margin-bottom: 45px
}
.add_bottom_60 {
	margin-bottom: 60px
}
.padd_bottom_20 {
	padding-bottom: 20px !important
}
.img-responsive.styled {
	margin-top: 20px;
	border: 5px solid#fff;
	display: block;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1)
}
.img-circle.styled {
	border: 5px solid#fff;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1)
}
ul.list_ok {
	list-style: none;
	margin: 0 0 20px 0;
	padding: 0;
	line-height: 22px
}
ul.list_ok li {
	position: relative;
	padding-left: 25px
}
ul.list_ok li:before {
	font-style: normal;
	font-weight: bold;
	font-family: "icon_set_1";
	font-size: 14px;
	content: "\6c";
	color: #86b535;
	position: absolute;
	left: 0;
	top: 0
}
.margin_60 {
	padding-top: 30px;
	padding-bottom: 60px
}
.margin_30 {
	margin-top: 30px;
	margin-bottom: 30px
}
.form-group {
	position: relative
}
.input-icon {
	position: absolute;
	right: 2px;
	top: 2px;
	width: 27px;
	height: 24px;
	background-color: white;
	padding: 5px 0px 25px 0px;
}
.input-icon i {
	color: #E42E2E;
	font-size: 14px;
	line-height: 21px
}
.input-icon_nobg {
	position: absolute;
	top: 10px;
	left: 8px;
    width: 20px;
    height: 20px;
	text-align: center
}
.input-icon_nobg i {
	color: #FFF;
	font-size: 16px;
	line-height: 21px
}
.form-control {
	font-size: 12px;
	color: #9999A8;
	height: 42px;
	line-height: 26px;
	border-radius: 3px
}
.sub_header {
	min-height: 470px;
	position: relative;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	overflow: hidden;
	background-attachment: scroll
}
.sub_header#bg_general {
	background-image: url(../img/header_bg.jpg)
}
.sub_header#bg_room {
	background-image: url(../img/room_bg.jpg)
}
.sub_header_content {
	display: table;
	width: 100%;
	height: 470px;
	background: url(../img/pattern_3.png) repeat-x center bottom
}
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
.sub_header_content {
background:url(../img/pattern_3_2x.png) repeat-x center bottom;
background-size:996px 50px
}
}
.sub_header_content > div {
	display: table-cell;
	padding: 0 15%;
	vertical-align: middle;
	text-align: center;
	color: #fff;
	font-size: 16px
}
.sub_header_content div h1, .sub_header_content div h3 {
	font-size: 48px;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff
}
.sub_header_content div h1 {
	margin-bottom: 0;
	padding-top: 40px
}
.sub_header_content div h1:before, .sub_header_content div h1:after {
	display: inline-block;
	width: 50px;
	height: 1px;
	content: '';
	vertical-align: middle;
	background: rgba(255,255,255,0.5)
}
.sub_header_content div h1:before {
	margin-right: 10px
}
.sub_header_content div h1:after {
	margin-left: 10px
}
.sub_header_content div a i {
	color: #fff;
	opacity: 0.5;
	font-size: 72px;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease
}
.sub_header_content div a:hover i {
	opacity: 1
}
#position_2 {
	font-size: 11px;
	position: relative;
}
#position {
	font-size: 11px;
	position: relative;
}
#position ul li:first-child {
	padding-left: 20px
}
#position ul li:first-child:before {
	content: "\eaf4";
	font-style: normal;
	font-weight: normal;
	font-family: "fontello";
	position: absolute;
	left: 0;
	top: 1px;
	color: #999
}
#position ul {
	margin: 0;
	padding: 0;
	color: #888
}
#position ul li {
	display: inline-block;
	padding-right: 8px;
	margin-right: 3px;
	position: relative
}
#position ul li:after {
	content: "\e9ee";
	font-style: normal;
	font-weight: normal;
	font-family: "fontello";
	position: absolute;
	right: 0;
	top: 1px
}
#position ul li:last-child:after {
	content: ''
}
.box_style_1, .box_style_2 {
	padding: 20px 20px 20px 20px;
	box-shadow: inset 0 0 0 1px #e0e5e9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 20px;
	background-color: #FFF;
	width:100%;
	float:left;
}
.box_style_2 {
	text-align: center;
	padding-bottom: 20px
}
.box_style_2 a.phone {
	font-size: 26px;
	display: block;
	margin-bottom: 20px
}
.box_style_1 h3 {
	margin: 0 0 10px 0;
	font-size: 18px;
	padding-bottom: 5px;
	border-bottom: 1px solid #e0e5e9
}
.box_style_2 i {
	font-size: 52px;
	margin-top: 10px;
	display: inline-block
}
.modal-dialog {
	margin-top: 110px
}
.pagination > li > a, .pagination > li > span {
	color: #888
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
	color: #333 !important;
	background-color: #f9f9f9
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	background-color: #555;
	border-color: #555
}
.panel {
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none
}
.panel-title a {
	display: block;
	color: #fff;
	    padding: 10px 0px 10px 0px;
		font-weight: 700;
}
.panel-default > .panel-heading {
	    background-color: #335f9b;
}
.panel-heading {
	border-top-left-radius: 0;
	border-top-right-radius: 0
}
.panel-group .panel {
	border-radius: 0
}
.loader {
	margin-left: 10px;
	bottom: 6px;
	position: absolute
}
.loader_popup {
	margin-left: 10px;
	bottom: 22px;
	position: absolute
}
blockquote.styled {
	font-family: 'Gochi Hand', cursive;
	line-height: 1.42857143
}
.tab-content {
	padding: 15px;
	background-color: #fff;
	/*border: 1px solid #ddd;*/
	border-top: none;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px
}

/*Loader*/
.page-loader {
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
	z-index: 999999;
	overflow: hidden;
	background-color: #222; /*#fff*/
}
.loader {	
	margin: -15px 0 0 -25px;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 50px;
	height: 30px;
	text-align: center;
	font-size: 10px
}
.dot {
	display: inline-block;
	width: 9px;
	height: 9px;
	border-radius: 100%!important;
	background: #ffffff;
	position: absolute;
}
.dot_1 {
	animation: animateDot1 1.5s linear infinite;
	left: 16px;
	background: #ff0202;
}
.dot_2 {
	animation: animateDot2 1.5s linear infinite;
	animation-delay: 0.5s;
	left: 28px;
	background: #00dc09;
}
.dot_3 {
	animation: animateDot3 1.5s linear infinite;
	left: 16px;
	background: #41abff;
}
.dot_4 {
	animation: animateDot4 1.5s linear infinite;
	animation-delay: 0.5s;
	left: 28px;
	background: #ffe500;
}
@keyframes animateDot1 {
0% {
transform: rotate(0deg) translateX(-12px);
}
25% {
transform: rotate(180deg) translateX(-12px);
}
75% {
transform: rotate(180deg) translateX(-12px);
}
100% {
transform: rotate(360deg) translateX(-12px);
}
}
@keyframes animateDot2 {
0% {
transform: rotate(0deg) translateX(-12px);
}
25% {
transform: rotate(-180deg) translateX(-12px);
}
75% {
transform: rotate(-180deg) translateX(-12px);
}
100% {
transform: rotate(-360deg) translateX(-12px);
}
}
@keyframes animateDot3 {
0% {
transform: rotate(0deg) translateX(12px);
}
25% {
transform: rotate(180deg) translateX(12px);
}
75% {
transform: rotate(180deg) translateX(12px);
}
100% {
transform: rotate(360deg) translateX(12px);
}
}
@keyframes animateDot4 {
0% {
transform: rotate(0deg) translateX(12px);
}
25% {
transform: rotate(-180deg) translateX(12px);
}
75% {
transform: rotate(-180deg) translateX(12px);
}
100% {
transform: rotate(-360deg) translateX(12px);
}
}
.ticket .ticket-type {
    font-size: 1.65em;
    font-weight: 600;
    padding-bottom: 5px;
    color: #3F51B5;
    text-shadow: 0 0 0.3em #00BCD4, 0 0 0.3em #00BCD4, 0 0 0.3em #00BCD4;
}
.ticket .rupee {
    font-size: 2em;
    color: #e74c3c;
    line-height: 1em;
    padding-top: 1em;
}
.ticket .visitorsCount {
    margin-bottom: 10px;
}
.footer_address {
    padding-bottom: 10px;
}
/*Activities*/
.box_cat_wp h2 {
	background: #86b535;
	margin: 0;
	line-height: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: 32px;
	padding-left: 8px;
	text-transform: uppercase;
	font-size: 15px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	border-top: 1px solid #fff;
	margin-right: 2px;
	border-bottom: 1px solid #fff;
	margin-bottom: 0
}
.box_cat_wp a h2 {
	color: #fff
}
.box_cat_wp p {
	padding: 10px 15px 0px 15px;
	line-height: 20px
}
.box_cat_wp a p, .box_cat_wp a:hover p {
	color: #363636
}
.box_cat_bt {
	display: inline-block;
	background: #8dc63f;
	color: #fff;
	font-weight: bold;
	padding: 5px 8px;
	margin-left: 15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-font-smoothing: antialiased !important
}
.box_cat_wp {
	border: 5px solid #fbfbfc;
	width: 100%;
	height: 230px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 10px
}
.box_cat {
	cursor: pointer;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 220px;
	border: 1px solid #e0e5e9
}
.cat-img {
	display: none;
	position: absolute;
	top: 0;
	background: #fff;
	height: 220px;
	width: 100%;
	text-align: center;
	border: 1px solid #fff
}
.cat-hover .cat-overlay {
	bottom: -184px;
	height: 218px
}
.cat-img img {
	height: auto;
	width: 100%
}
.cat-overlay {
	display: none;
	z-index: 5;
	margin: 0 1px;
	position: absolute;
	width: 100%;
	height: 235px;
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.8)
}

/**/
.box_at_wp h2 {
	background: #86b535;
	margin: 0;
	line-height: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: 32px;
	text-align: center;
	text-transform: uppercase;
	font-size: 15px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	border-top: 1px solid #fff;
	margin-right: 2px;
	border-bottom: 1px solid #fff;
	margin-bottom: 0
}
.box_at_wp a h2 {
	color: #fff
}
/*.box_at_wp p {
	padding: 10px 15px 0px 15px;
	line-height: 20px
}*/
.box_at_wp a, .box_cat_wp a:hover {
	color: #363636
}
.box_at_bt {
	display: inline-block;
	background: #8dc63f;
	color: #fff;
	font-weight: bold;
	padding: 5px 8px;
	margin-left: 15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-font-smoothing: antialiased !important
}
.box_at_wp {
	border: 5px solid #fbfbfc;
	width: 100%;
	height: 230px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 10px
}
.box_at {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 220px;
	border: 1px solid #e0e5e9
}
.at-img {
	position: absolute;
	top: 0;
	background: #fff;
	height: 220px;
	width: 100%;
	text-align: center;
	border: 1px solid #fff
}
.at-hover .at-overlay {
	/*bottom: -184px;
	height: 218px*/	
	bottom: 0px;
    height: 34px;
}
.at-img img {
	height: auto;
	width: 100%
}
.at-overlay {
	z-index: 5;
	margin: 0 1px;
	position: absolute;
	width: 100%;
	height: 235px;
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.8)
}

/*facilities*/
.box_facilities_wp h2 {
	background: #86b535;
	margin: 0;
	line-height: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: 32px;
	text-align: center;
	text-transform: uppercase;
	font-size: 15px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	border-top: 1px solid #fff;
	margin-right: 2px;
	border-bottom: 1px solid #fff;
	margin-bottom: 0
}
.box_facilities_wp a h2 {
	color: #fff
}
.box_facilities_wp a, .box_facilities_wp a:hover {
	color: #363636
}
.box_facilities_bt {
	display: inline-block;
	background: #8dc63f;
	color: #fff;
	font-weight: bold;
	padding: 5px 8px;
	margin-left: 15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-font-smoothing: antialiased !important
}
.box_facilities_wp {
	border: 5px solid #fbfbfc;
	width: 100%;
	height: 286px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 10px
}
.box_facilities {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 286px;
	border: 1px solid #e0e5e9
}
.facilities-img {
	position: absolute;
	top: 0;
	background: #fff;
	height: 286px;
	width: 100%;
	text-align: center;
	border: 1px solid #fff
}
.facilities-hover .facilities-overlay {
	bottom: 0px;
    height: 34px;
}
.facilities-img img {
	height: auto;
	width: 100%
}
.facilities-overlay {
	z-index: 5;
	margin: 0 1px;
	position: absolute;
	width: 100%;
	height: 286px;
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.8)
}
/*team*/
.box_team_wp h2 {
	background: #86b535;
    margin: 0;
    line-height: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    padding-left: 5px;
    text-transform: uppercase;
    font-size: 12px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    border-top: 1px solid #fff;
    margin-right: 2px;
    border-bottom: 1px solid #fff;
    margin-bottom: 0;
    letter-spacing: 0.015em;
}
.box_team_wp a h2 {
	color: #fff
}

.box_team_wp a h2 span {
	font-size: 10px;
    text-transform: capitalize;
	padding-left: 2px;
}
.box_team_wp a p, .box_team_wp a:hover p {
	color: #363636
}
.box_team_bt {
	display: inline-block;
	background: #8dc63f;
	color: #fff;
	font-weight: bold;
	padding: 5px 8px;
	margin-left: 15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-font-smoothing: antialiased !important
}
.box_team_wp {
	border: 5px solid #fbfbfc;
	width: 100%;
	height: 280px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 10px
}
.box_team {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 280px;
	border: 1px solid #e0e5e9
}
.team-img {
	position: absolute;
	top: 0;
	background: #fff;
	height: 280px;
	width: 100%;
	text-align: center;
	border: 1px solid #fff
}
.team-hover .team-overlay {
	bottom: 0px;
    height: 33px;
}
.team-img img {
	height: auto;
	width: 100%
}
.team-overlay {
	z-index: 5;
	margin: 0 1px;
	position: absolute;
	width: 100%;
	height: 280px;
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.8)
}


.box_mark_wp h2 {
	background: #86b535;
	margin: 0;
	line-height: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: 32px;
	padding-left: 8px;
	text-transform: uppercase;
	font-size: 15px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	border-top: 1px solid #fff;
	margin-right: 2px;
	border-bottom: 1px solid #fff;
	margin-bottom: 0
}
.box_mark_wp a h2 {
	color: #fff
}
.box_mark_wp p {
	padding: 10px 15px 0px 15px;
	line-height: 20px
}
.box_mark_wp a p, .box_mark_wp a:hover p {
	color: #363636
}
.box_mark_bt {
	display: inline-block;
	background: #8dc63f;
	color: #fff;
	font-weight: bold;
	padding: 5px 8px;
	margin-left: 15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-font-smoothing: antialiased !important
}
.box_mark_wp {
	border: 5px solid #fbfbfc;
	width: 100%;
	height: 230px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 10px
}
.box_mark {
	cursor: pointer;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 220px;
	border: 1px solid #e0e5e9
}
.mark-img {
	display: none;
	position: absolute;
	top: 0;
	background: #fff;
	height: 220px;
	width: 100%;
	text-align: center;
	border: 1px solid #fff
}
.mark-hover .mark-overlay {
	bottom: -184px;
	height: 218px
}
.mark-img img {
	height: auto;
	width: 100%
}
.mark-overlay {
	display: none;
	z-index: 5;
	margin: 0 1px;
	position: absolute;
	width: 100%;
	height: 235px;
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.8)
}
.msg-visible {
    display: block !important;
}
.error {
	display:block;
}
.bookbtn{
	left:10px;
}
#testimonials {
	background: #fff;
	padding: 30px 0 0 0;
}
#quote-carousel {
	padding: 0 10px 40px 10px
}
#quote-carousel small {
	color: #999
}
#quote-carousel .carousel-control.left {
	left: -12px
}
#quote-carousel .carousel-control.right {
	right: -12px !important
}
#quote-carousel .carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px
}
#quote-carousel .carousel-indicators li {
	background: #ccc;
	border: none
}
#quote-carousel .carousel-indicators .active {
	background: #1c1c1c
}
#quote-carousel img {
	width: 100px;
	height: 100px;
	border: 3px solid #fff
}
.item blockquote {
	border-left: none;
	margin: 0;
	text-align: center;
	font-family: 'Gochi Hand', cursive;
	font-size: 24px;
	line-height: 28px
}
.item blockquote img {
	margin-bottom: 20px
}
#single_room_feat ul {
	list-style: none;
	padding: 0;
	margin: 25px 0 0 0;
	display: table;
	border-bottom: 1px solid #ededed;
	margin-bottom: 30px
}
#single_room_feat ul li {
	display: table-cell;
	width: 1%;
	vertical-align: middle;
	text-align: center;
	padding: 0 10px 20px 10px;
	white-space: nowrap
}
#single_room_feat ul li:last-child {
	margin-right: 0
}
#single_room_feat ul li i {
	font-size: 36px;
	display: block;
	margin-bottom: 10px
}
#single_tour_desc h3 {
	font-size: 22px;
	margin-top: 5px
}
#single_tour_desc h4 {
	line-height: 20px;
	font-size: 18px
}
.career .upload_progress {
	float: right;
    line-height: 0px;
    color: #232323;
}
.career .button-uploading {
    position: relative;
    color: transparent;
    cursor: default;
}
.career .button-uploading:after {
	content: 'Uploading...';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	-o-animation: blink 1s linear infinite;
	-ms-animation: blink 1s linear infinite;
	-moz-animation: blink 1s linear infinite; 
	-webkit-animation: blink 1s linear infinite;
}
@-o-keyframes blink
{
  0% {opacity: 1}
  50% {opacity: 0.3}
  100% {opacity: 1}
}
@-ms-keyframes blink
{
  0% {opacity: 1}
  50% {opacity: 0.3}
  100% {opacity: 1}
}
@-moz-keyframes blink
{
  0% {opacity: 1}
  50% {opacity: 0.3}
  100% {opacity: 1}
}
@-webkit-keyframes blink
{
  0% {opacity: 1}
  50% {opacity: 0.3}
  100% {opacity: 1}
}

.input-style {
    position: relative;
    float: left;
    width: 100%;
    font-size: 14px;
    color: rgba(255,255,255,0.6);
}

.input-style img {
    vertical-align: middle;
    position: absolute;
        left: 7px;
    padding-top: 8px;
}


.input-style input {
    text-align: -webkit-right;
    width: 100%;
    padding-left: 17px;
}


.input-icon1 {
    position: absolute;
    right: 2px;
    top: 2px;
    width: 31px;
    height: 38px;
    background-color: white;
    padding: 5px 0px 25px 0px;
	pointer-events:none;
}

.input-icon1 i {
    color: #E42E2E;
    font-size: 20px;
    line-height: 28px;
}

.formmm{   color: #505050;}
.formmm::placeholder{ color: #505050;}

.formmm1{      color: #999; font-size: 14px;}
.formmm1::placeholder{ color: #999;    font-size: 14px;}

.btn-select {
    position: relative;
    padding: 0;
  
    width: 100%;
    border-radius: 0;
    margin-bottom: 20px;
}

.btn-select .btn-select-value {
    padding: 6px 12px;
    display: block;
    position: absolute;
    left: 0;
    right: 34px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    border-top: none !important;
    border-bottom: none !important;
    border-left: none !important;
}

.btn-select .btn-select-arrow {
    float: right;
    line-height: 20px;
    padding: 6px 10px;
    top: 0;
}

.btn-select ul {
    display: none;
    background-color: white;
    color: black;
    clear: both;
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: none !important;
    position: absolute;
    left: -1px;
    right: -1px;
    top: 33px;
    z-index: 999;
}

.btn-select ul li {
    padding: 3px 6px;
    text-align: left;
}

.btn-select ul li:hover {
    background-color: #f4f4f4;
}

.btn-select ul li.selected {
    color: white;
}

/* Default Start */
.btn-select.btn-default:hover, .btn-select.btn-default:active, .btn-select.btn-default.active {
    border-color: #ccc;
}

.btn-select.btn-default ul li.selected {
    background-color: #ccc;
}

.btn-select.btn-default ul, .btn-select.btn-default .btn-select-value {
    background-color: white;
    border: #ccc 1px solid;
}

.btn-select.btn-default:hover, .btn-select.btn-default.active {
    background-color: #e6e6e6;
}
/* Default End */

/* Primary Start */
.btn-select.btn-primary:hover, .btn-select.btn-primary:active, .btn-select.btn-primary.active {
    border-color: #286090;
}

.btn-select.btn-primary ul li.selected {
    background-color: #2e6da4;
    color: white;
}

.btn-select.btn-primary ul {
    border: #2e6da4 1px solid;
}

.btn-select.btn-primary .btn-select-value {
    background-color: #428bca;
    border: #2e6da4 1px solid;
}

.btn-select.btn-primary:hover, .btn-select.btn-primary.active {
    background-color: #286090;
}
/* Primary End */

/* Success Start */
.btn-select.btn-success:hover, .btn-select.btn-success:active, .btn-select.btn-success.active {
    border-color: #4cae4c;
}

.btn-select.btn-success ul li.selected {
    background-color: #4cae4c;
    color: white;
}

.btn-select.btn-success ul {
    border: #4cae4c 1px solid;
}

.btn-select.btn-success .btn-select-value {
    background-color: #5cb85c;
    border: #4cae4c 1px solid;
}

.btn-select.btn-success:hover, .btn-select.btn-success.active {
    background-color: #449d44;
}
/* Success End */

/* info Start */
.btn-select.btn-info:hover, .btn-select.btn-info:active, .btn-select.btn-info.active {
    border-color: #46b8da;
}

.btn-select.btn-info ul li.selected {
    background-color: #46b8da;
    color: white;
}

.btn-select.btn-info ul {
    border: #46b8da 1px solid;
}

.btn-select.btn-info .btn-select-value {
    background-color: #5bc0de;
    border: #46b8da 1px solid;
}

.btn-select.btn-info:hover, .btn-select.btn-info.active {
    background-color: #269abc;
}
/* info End */

/* warning Start */
.btn-select.btn-warning:hover, .btn-select.btn-warning:active, .btn-select.btn-warning.active {
    border-color: #eea236;
}

.btn-select.btn-warning ul li.selected {
    background-color: #eea236;
    color: white;
}

.btn-select.btn-warning ul {
    border: #eea236 1px solid;
}

.btn-select.btn-warning .btn-select-value {
    background-color: #f0ad4e;
    border: #eea236 1px solid;
}

.btn-select.btn-warning:hover, .btn-select.btn-warning.active {
    background-color: #d58512;
}
/* warning End */

/* danger Start */
.btn-select.btn-danger:hover, .btn-select.btn-danger:active, .btn-select.btn-danger.active {
    border-color: #d43f3a;
}

.btn-select.btn-danger ul li.selected {
    background-color: #d43f3a;
    color: white;
}

.btn-select.btn-danger ul {
    border: #d43f3a 1px solid;
}

.btn-select.btn-danger .btn-select-value {
    background-color: #d9534f;
    border: #d43f3a 1px solid;
}

.btn-select.btn-danger:hover, .btn-select.btn-danger.active {
    background-color: #c9302c;
}
/* danger End */

.btn-select.btn-select-light .btn-select-value {
    background-color: white;
    color: black;
}

#contact_container1 {
    position: relative;
    background: #FFF url(../img/background.jpg) no-repeat center top;
    background-size: cover;
    color: #fff;
    width:100%; float:left;
    height: 70px;
    z-index: 99;
}
.step_payment{ width:100%; float:left; padding: 20px 0px 20px 0px;}
.step_paymentlogin{ width: 100%; float: left;  padding: 20px 0px 20px 0px;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;}
.step_paymentlogin .step_first{ width:100%; float:left;}
.step_payment .step_first{ width:100%; float:left;}

.tabbable-panel1 {
  border:1px solid #eee;
  padding: 10px;
      width: 100%;
    float: left;
}

/* Default mode */
.tabbable-line1 > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line1 > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line1 > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
      color: #ffffff;
    font-weight: 800;
	   padding: 12px 45px 12px 45px;
}
.tabbable-line1 > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line1 > .nav-tabs > li.open, .tabbable-lin1e > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line1 > .nav-tabs > li.open > a, .tabbable-line1 > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line1 > .nav-tabs > li.open > a > i, .tabbable-line1 > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line1 > .nav-tabs > li.open .dropdown-menu, .tabbable-line1 > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line1 > .nav-tabs > li.active {
  border-bottom: 4px solid #f3565d;
  position: relative;
}
.tabbable-line1 > .nav-tabs > li.active > a {
  border: 0;
      color: #ffffff;
    font-weight: 800;
	  padding: 12px 45px 12px 45px;
}
.tabbable-line1 > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line1 > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
 padding: 16px 0px 30px 0px;
}
.portlet .tabbable-line1 > .tab-content {
  padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line1.tabs-below > .nav-tabs > li {
  border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}
.tabbable-line1.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 4px solid #fbcdcf;
}
.tabbable-line1.tabs-below > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid #f3565d;
}
.tabbable-line1.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

.all_tabcalen{ width:100%; float:left;     padding: 15px 0px 15px 0px;}
.all_tabcalen .term_con{ width:100%; float:left;}
.all_tabcalen .term_con h1{ font-size: 20px;
    color: #676666;}

 .all_tabcalen .top_buttone { width:100%; float:left;     padding: 11px 0px 20px 0px;}
 .all_tabcalen .top_buttone a{     background-color: #335f9b;
 float: right;
    color: #fff;
    padding: 6px 20px 6px 20px;
    font-weight: 800;}
  .all_tabcalen .top_buttone a i{ margin-right:10px;}
  
 .all_tabcalen .month{ width:100%; float:left; text-align: center;     padding: 33px 0px 33px 0px;}
  .all_tabcalen .month a{     text-align: center;
    font-size: 19px; color: #717171;}
   .all_tabcalen .month a i{    margin: 0px 48px 0px 48px;
    font-size: 26px; color: #63adf0;}
	
	.all_tabcalen .calender{ width:100%; float:left;background-color: #fff;
      padding: 8px 10px 39px 10px;
    border-radius: 15px;
}


.all_tabcalen .calender .button{ width:100%; float:left; margin-top: 32px;
}
.all_tabcalen .calender .button a{ width:150px;} 
.all_tabcalen .calender table{ width:100%; float:left;}
.all_tabcalen .calender table tr{     padding: 16px 12px 16px 12px;}
.all_tabcalen .calender table th{     padding: 16px 12px 16px 12px; border-bottom: 1px dashed #000;border-top: 1px dashed #000;}
.all_tabcalen .calender table tr td{
border: 1px solid #bfbfbf;
    padding: 35px 12px 35px 12px;}
	
	
.all_tabcalen .calender table tr td .table_content{	
	width: 100%;
    float: left;
    
}

.all_tabcalen .calender table tr td .table_content p{	
	 top:0px;
}
.all_tabcalen .calender table tr td .table_content p span{	
	    font-size:18px;
}

.all_tabcalen .calender table tr td .table_content h1{	
	        font-size: 12px;
    margin: 0px;
    color: #fff;
   
    font-weight: 600;
}


.all_tabcalen .calender table tr td .table_content p .font{	
	 font-weight:700;
	 font-size: 13px;
}
.all_tabcalen .calender table tr td .table_content select{ width: 65px;
    margin-top: 5px;}
.all_tabcalen .tbale{ color:#fff;}


.thumbnail {margin-bottom:6px;}

.sky_india{ width:100%; float:left; background-color:#CCC;}

.sky_india p{ color:#fff; font-size:14px; padding:10px;}
.form-control{border: 2px solid #d6d5d5;}

.ui-inputtextarea-resizable {
    overflow: hidden;
    resize: none;
}

.payment_tab{ width:100%; float:left;     padding: 10px 20px 10px 20px;}
.payment_tab .pay_ba{ width:100%; float:left;}
.payment_tab .pay_ba p{     line-height: 18px;
    padding: 20px 0px 20px 0px;
    color: #a29e9e;}
	
	.payment_tab .pay_ba  input[type=radio]  { width:30px; height:30px;}
	.payment_tab .pay_ba label  img  {margin-left: 16px;}
	
	  .fc-content{ width:100%; float:left; position:absolute;}
	.fc-content span.fc-date {
    position: absolute;
    width: 30px;
    height: 20px;
    font-size: 22px;
    line-height: 20px;
    font-weight: 700;
    color: #fff;
    bottom: 5px;
    right: 5px;
    top: -50px;
    left: 0;
    margin: 10px 0 0;
    text-align: center;
    pointer-events: none;
}

.fc-content span.fc-weekday {
    padding-left: 0;
    font-size: 12px;
    float: left;
    margin: 11px 0 0 26px;
    text-transform: uppercase;
    text-align: left;
    position: relative;
	color:#fff;
	    top: -49px;
}
 .datadiv{
    float: left;
    color: #4e4946;
    font-size: 14px;
    margin-top: 0px;
    width: 100%;
    position: absolute;
    left: -22px;
}
.fc-content .fc-weekday .datadiv span {
    color: #fff;
    font-size: 11px;
    margin-bottom: -3px;
    float: left;
    width: 102px;
}

.fc-weekday .datadiv span {
    color: #9e9888;
    font-size: 11px;
    margin-bottom: 3px;
    float: left;
    width: 96px;
}

.bg_hove{background-color: #ED2F59; }

.bg_hove:hover{background-color: #6FC27F;}

.paymenet-section{ width:100%; float:left; padding: 67px 0px 50px 0px;}

.change_address {
    width: 100%;
    float: left;
    text-align: center;
	
	min-width: 77px;

	
    
}
.change_address a { text-decoration:none; background-color: #fff;
    color: #696969;
    padding: 10px 0px 10px 0px;
	    border-radius: 5px;} 
	
	
	.panel-heading h4{ letter-spacing: 1px ;margin-left: 10px;}
	
	.order_titile {
    width: 100%;
    float: left;
    padding-bottom: 15px;
    font-size: 14px;
    color: #7d7d7d;
    border-bottom: solid 1px #efefef;
}

.summary_product {
    width: 100%;
    float: left;
    padding: 15px 0;
    border-bottom: solid 1px #f7f7f7;
}

.add_c_img {
    width: 100%;
    float: left;
	text-align:center;
}
.add_c_img img {
    max-width: 100%;
	    max-height: 49px;
}
.product_text {
    width: 100%;
    float: left;
    color: #7d7d7d;
    font-size: 14px;
	    text-align: center;
}

.product_p {
    color: #7d7d7d;
    width: 100%;
    float: left;
}

.product_qty {
    color: #7d7d7d;
    width: 20%;
    float: left;
    border: solid 1px #CCCCCC;
    text-align: center;
}


.incere{width: 28px;
    height: 28px;
    background: linear-gradient(#fff,#f9f9f9);
    display: inline-block;
    border: 1px solid #c2c2c2;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50%;
    padding-top: 1px;
    line-height: 1;}




.test-incre {
    display: inline-block;
    padding: 3px 6px;
    width: calc(100% - 60px);
    height: 100%;
    width: 46px;
    height: 28px;
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid #c2c2c2;
    margin: 0 9px;
}
 .test-incre .inen {
    border: none;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    vertical-align: middle;
    text-align: center;
}

.buton{ width:100%;   padding: 15px 0px 15px 0px;}
.buton a{    background-color: #335f9b;
    padding: 10px 35px 10px 35px;
    color: #fff;     font-weight: 600;
    border-radius: 5px;}


.form-signin {
  max-width: 400px; 
  display:block;
  background-color: #f7f7f7;
  /*-moz-box-shadow: 0 0 3px 3px #888;
    -webkit-box-shadow: 0 0 3px 3px #888;
	box-shadow: 0 0 3px 3px #888;*/
  border-radius:2px;
}
.form-signin_2 {
	max-width:600px;
	display:block;
	padding:10px 20px;
	margin:0 auto;
	background-color: #f7f7f7;
	/*-moz-box-shadow: 0 0 3px 3px #888;
      -webkit-box-shadow: 0 0 3px 3px #888;
      box-shadow: 0 0 3px 3px #888;*/
	border-radius:2px;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.0980392);
}
.main{
	padding: 38px;
}
.social-box{
  margin: 0 auto;
  padding: 38px;
  border-bottom:1px #ccc solid;
}
.social-box a{
  font-weight:bold;
  font-size:18px;
  padding:8px;
}
.social-box a i{
  font-weight:bold;
  font-size:20px;
}
.heading-desc{
	font-size:20px;
	font-weight:bold;
	padding:38px 38px 0px 38px;
	
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: 20px;
  padding: 20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-radius: 5px;
  
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 5px;
}
.login-footer{
	background:#f0f0f0;
	margin: 0 auto;
	border-top: 1px solid #dadada;
	padding:20px;
}
.login-footer .left-section a{
	font-weight:bold;
	color:#8a8a8a;
	line-height:19px;
}
.mg-btm{
	margin-bottom:20px;
}


.sign_up_main {
    width: 100%;
    background: rgba(14, 12, 12, 0.81);
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 35px;
    border-radius: 5px;
}

.close {
    opacity: 2;
    color: #1a304e;
}

.sign_u {
    width: 100%;
    float: left;
    padding: 10px 20px;
    text-align: center;
    position: relative;
    padding-bottom: 20px;
}

.sign_u h3 {
        font-size: 23px;
    font-weight: 300;
    color: #fff;
    text-align: left;
    line-height: 1.3em;
    font-family: 'Roboto', arial, helvetica, sans-serif;
    margin: 0;
    padding: 10px 0px;
    border-bottom: #ef6804 solid 1px;
}
.sign_u h3::before {
    content: "";
    position: absolute;
    width: 20%;
    float: left;
    height: 2px;
    background:#fff;
    top: 59px;
    left: 21px;
}

.sign_in_main {
    width: 100%;
    float: left;
}

.sign_u .first_name {
    margin-bottom: 0px!important;
}
.sign_u .first_name label {
    padding: 7px 3px;
    color: #fff;
    float: left;
    margin-top: 16px;
    font-weight: 400;
}
.first_name input {
    border-radius: 0 !important;
    float: left;
    width: 100%;
    font-size: 12px !important;
}


.contine {
    width: 100%;
    float: left;
    margin-top: 30px;
}
.forget_p {
    width: 100%;
    float: left;
    margin-top: 20px;
}

.forget_p a {
    color: #fff !important;
    font-size: 14px;
    padding: 10px 5px;
    text-decoration: none;
    float: right;
}

.modal-content {
    border: none;
    width:100%;
    float:left;
}

.summary{ width:100%; float:left; padding:15px 0px 15px 0px;}

.subtotal_order {
    width: 100%;
    float: right;
    padding: 15px 0;
}

.sub_div {
    width: 100%;
    float: left;
    padding: 5px 0;
   /* border-bottom: 1px dotted #c0c0c0;*/
}
.sub_rate_1 {
    width: 100%;
    float: left;
    text-align: left;
}

.sub_rate_2 {
    width: 100%;
    float: left;
    text-align: right;
}

.continue_btn {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
}

.continue_btn a {
    text-align: center;
    padding: 7px 0px;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    background: #fc8332;
    border: 1px solid #335f9b;
    background: -moz-linear-gradient(top,#fdcdad 0,#fdcdad 3%,#fc8332 3%,#fc8332 100%);
    background: -webkit-linear-gradient(top,#fdcdad 0,#fdcdad 3%,#fc8332 3%,#fc8332 100%);
    background: -o-linear-gradient(top,#fdcdad 0,#fdcdad 3%,#fc8332 3%,#fc8332 100%);
    background: -ms-linear-gradient(top,#fdcdad 0,#fdcdad 3%,#fc8332 3%,#fc8332 100%);
    background: linear-gradient(to bottom,#fdcdad 0,#fdcdad 3%,#335f9b 3%,#335f9b 100%);
    display: block;
    border-radius: 3px;
}

.payment_method {
    width: 100%;
    float: left;
    padding: 25px 15px;
}

.payment_titile {
    font-size: 20px;
    width: 100%;
    float: left;
    border-bottom: solid 1px #e8e8e8;
    padding-bottom: 20px;
    color: #757575;
	padding: 15px 0px 15px 0px;
}

.payment_box {
    width: 100%;
    float: left;
	    padding: 19px 0px 19px 0px;
}


ul .my_tab1 {
	padding:0;
	margin:0;
}
.my_tab1 {
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
	

}
.my_tab1 li {
   	list-style-type:none;
	border-bottom:solid 1px #e4e4e4;
}
.my_tab1 li:last-child {
	list-style-type:none;
	border-bottom:solid 0px #e4e4e4;
}
.my_tab1 li a {
	display:block;
	color:#666;
	font-size:16px;
	text-decoration:none;
	padding: 12px 32px;
	position:relative;
	transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
}
.my_tab1 li a:hover {
    background: #ff6600;
    color: #FFF;
    transition: 0.3s;
   
}
.activepack {
	background: #ff6600!important;
	position:relative;
	color:#FFF !important;
}
.activepack::after {
    position: absolute;
    right: 0px;
    content: '';
    top: 0;
    bottom: 0;
    position: absolute;
    right: -15px;
    content: '';
    bottom: 0;
    width: 0;
    height: 0;
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
    border-left: 15px solid #ff6600;
}

.my_tab1 li a i {
    position: absolute;
    left: 5px;
    top: 14px;
}
.my_profi {
    width: 100%;
    float: left;
    display: none;
}
.active_tab {
    display: block!important;
}
.sub_heading {
    width: 100%;
    float: left;
    border-bottom: solid 1px #e4e4e4;
    padding: 10px 0;
}
.sub_heading:last-child {
     border-bottom: solid 0px #e4e4e4;
}

.left_total {
	width:50%;
	float:left;
}
.right_total {
	width:50%;
	float:left;
	text-align:right;
}
.confirm_order {
	width:100%;
	float:left;
	text-align:right;
	margin-top:15px;
}

.confirm_order a {
	display:inline-block;
	padding:7px 25px;
	color: #565656;
	font-size:15px;
    background: #f2f2f2;
    border: 1px solid #c9c9c9;
    background: -moz-linear-gradient(top,#fff 0,#fff 3%,#f2f2f2 3%,#f2f2f2 100%);
    background: -webkit-linear-gradient(top,#fff 0,#fff 3%,#f2f2f2 3%,#f2f2f2 100%);
    background: -o-linear-gradient(top,#fff 0,#fff 3%,#f2f2f2 3%,#f2f2f2 100%);
    background: -ms-linear-gradient(top,#fff 0,#fff 3%,#f2f2f2 3%,#f2f2f2 100%);
    background: linear-gradient(to bottom,#fff 0,#fff 3%,#f2f2f2 3%,#f2f2f2 100%);
	text-decoration:none;
	border-radius:3px;	
}








.modal-body { padding:0px;}

.j-forms {
    background-color: #f9fafd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 5px rgba(0,0,0,.6);
    -moz-box-shadow: 0 3px 5px rgba(0,0,0,.6);
    -o-box-shadow: 0 3px 5px rgba(0,0,0,.6);
    box-shadow: 0 3px 5px rgba(0,0,0,.6);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: rgba(0,0,0,.54);
    font: 16px 'Open Sans',Helvetica,Arial,sans-serif;
    line-height: 1;
    position: relative;
}
.j-forms .content {
    padding: 25px 25px 0;
}
.j-forms .j-row {
    margin: 0 -10px;
}
.j-forms .span6 {
    width: 50%;
}
.j-forms .gap-bottom-45 {
    margin-bottom: 45px;
}
.j-forms .gap-top-20 {
    margin-top: 20px;
}
.j-forms .divider-text {
    text-align: center;
}
.j-forms .divider-text {
    border-top: 1px solid rgba(0,0,0,.12);
    height: 0;
}
.j-forms .divider-text span {
    border: 1px solid rgba(0,0,0,.12);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    background-color: #f9fafd;
    color: #3f51b5;
    font-size: 16px;
    padding: 2px 15px;
    position: relative;
    top: -9px;
    white-space: nowrap;
}

.facebook1 {
    background-color: #49639F;
}
.social-login a {
    position: relative;
    float: left;
    width: 206px;
    text-decoration: none;
    color: #fff;
    border: 1px solid rgba(0,0,0,0.05);
    padding: 12px;
    border-radius: 2px;
    font-size: 12px;
    text-transform: uppercase;
    margin: 6px 3%;
    text-align: center;
}


.googel1 {
    background-color: #DF4A32;
}

.linkedin1{ background-color: #0177B5;}

.submit_btn1{ width:100%; float:left; text-align:center;padding: 25px 0px 25px 0px;}
.submit_btn1 a{ color:#fff; font-size:16px; padding: 10px 20px 10px 20px;
    border-radius: 5px; background-color:#666;}
.signin1 {
        border: 1px solid #8b8987;
    -moz-box-shadow: 0px 0px 2px 1px #ebebeb;
    -webkit-box-shadow: 0px 0px 2px 1px #ebebeb;
    box-shadow: 0px 0px 2px 1px #ebebeb;
    font-size: 1.143em;
    margin: 20px auto;
    padding-bottom: 50px;
    padding-top: 50px;
}
label{ color:#999;}

.signin1 .col-bdr-right:after {
    background-color: #e2e2e2;
    bottom: 0;
    content: " ";
    display: inline-block;
    position: absolute;
    right: -40px;
    top: 0;
    width: 1px;
}
.yt-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.signin1 .yt-list li:first-child {
    border-top: none;
}
.signin1 .yt-list li {
    border-top: 1px solid #e2e2e2;
    padding: 15px 0 5px 0;
}
.yt-list > li {
    margin: 6px 0;
}
.signin1 .yt-list li i {
    width: 46px;
	    color: rgba(70, 69, 69, 0.61);
}
.bg1{background: url(../images/bg.png) no-repeat fixed;
    background-size: cover;
    padding-bottom: 0;
}
.panel{ background-color:#f5f5f5;}
.panel-default>.panel-heading { color:#999;}
.divider-text {
    border-top: 1px solid rgba(0,0,0,.12);
    height: 0;
}
.divider-text span {
    border: 1px solid rgba(0,0,0,.12);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    background-color: #f9fafd;
    color: #3f51b5;
    font-size: 16px;
    padding: 2px 15px;
    position: relative;
    top: -9px;
    white-space: nowrap;
}
.unit {
    position: relative;
    margin-bottom: 25px;
}
.social-btn, .social-icon {
    margin-bottom: 6px;
    position: relative;
}
 .social-btn i, .social-icon i {
    background-color: rgba(0,0,0,.15);
    color: #fff;
    cursor: pointer;
    font-size: 22px;
    left: 0;
    line-height: 48px;
    position: absolute;
    text-align: center;
    width: 48px;
    z-index: 2;
}
 .social-btn.twitter button, .social-icon.twitter button {
    background: rgb(44,168,210);
}
.social-btn button {
    width: 100%;
}
.social-btn button,  .social-icon button {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border: none;
    color: #fff;
    cursor: pointer;
    font: 16px 'Open Sans',Helvetica,Arial,sans-serif;
    padding: 0 0 0 48px;
    outline: none;
    overflow: hidden;
    height: 48px;
    white-space: nowrap;
    -webkit-transition: background.2s;
    -moz-transition: background.2s;
    -ms-transition: background.2s;
    -o-transition: background.2s;
    transition: background.2s;
}
.social-btn.google-plus button,  .social-icon.google-plus button {
    background: rgb(206,77,57);
}
.social-btn.facebook button,  .social-icon.facebook button {
    background: rgb(48,88,145);
}
.soci12{ width:100%; float:left;}

.noti {
    width: 100%;
    float: left;
    text-align: center;
}
.noti h4{
    width: 100%;
    float: left;
   text-align:left;
}
.noti input[type=text] {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px rgb(51, 95, 155);
   
    height: 40px;
    width: 60%;
    color: #000;
    word-spacing: 1px;
    padding-left: 20px;
    padding-top: 0px;
    font-size: 16px;
    outline: none;
}.noti input[type=text]::placeholder{
   
    color: #999;
   
}

.text_d{ text-align:center;  margin-top: 9px;   font-weight: 600;}
.text_d input[type=checkbox]{width:22px; height:22px;}
.product_rs{ font-weight:800;}

.top_sum{ width:100%; float:left;}
.top_sum ul{ list-style:none;}
.top_sum ul li{display:inline-block;
    padding: 15px 44px 16px 41px;
    background-color: #ED2F59;
	    border-radius: 5px;
    color: #fff;
    font-weight: 800;}
	
	
	.panel-heading1{ width:100%; float:left; text-align:center;}
	
	.panel-heading1 h3{text-align: center;
    background-color: #6FC27F;
    padding: 14px;
    color: #fff;
    font-weight: 600;
	    margin: 0px;}
		
		.formm{ width:100%; float:left; padding: 8px 0px 0px 0px;}
		
		
	.failure{
	/*background: #000 url(../img/bg-con.jpg) no-repeat fixed;
    background-size: cover;*/
    padding-bottom: 50px;}
	
	
	.bg_fail{    width: 100%;
    float: left;
    background-color: #fff;
    border: 1px solid #015077;
    padding: 5px 45px 5px 45px;
    height: auto;
    margin-top: 33px;
    border-radius: 18px;}
	
.bg_fail .all_content{ width:100%; float:left;}

.bg_fail .all_content .heading_top{ width:100%; float:left; text-align:center; padding:35px 0px 15px 0px;}
.bg_fail .all_content .heading_top h1{ font-size:19px; color:#fff;}

.bg_fail .all_content .heading_top h1 span{


    background-color: rgb(1, 80, 119);
    padding: 13px 10px 13px 10px;
    border: 1px solid #FF0202;
	border-radius:5px;
}
.p_class{ width:100%; float:left; padding: 32px 0px 32px 0px;}
.p_class p{ color:#696262;font-size: 15px;}
.p_class p span{ color:#ED2F59;}

.heading_tab_inner {
    float: left;
    width: 100%;
    background: rgba(3,169,244,0.8);
    padding: 10px 30px;
	text-align:center;
}

.heading_tab_inner h5 {
    display: inline-block;
    color: #ffffff;
       font-size: 16px;
	   font-weight:600;
    line-height: 28px;
    margin: 0;
}

.content_mid{ width:100%; float:left; border:1px solid#999;}

.payment_details_main {
    float: left;
    width: 100%;
    padding: 25px;
}
.top_head_bar {
    float: left;
    width: 100%;
}
.top_head_bar h4 {
    font-weight: bold;
    color: #335f9b;
    display: inline-block;
}
.scifiheader, strong {
    color: #737070;
   /* text-shadow: 0 0 0.3em #00BCD4, 0 0 0.3em #00BCD4, 0 0 0.3em #00BCD4;*/
}

.doller_left {
    float: right;
    text-align: center;
}
.doller_left h2 {
    margin: 0;
    color: #335f9b;
    font-weight: bold;
    line-height: 30px;
}
.package_but{ width:100%; float:left; margin-top: 12px;}
.package_but a{ background-color: #335f9b;
    color: #fff;
	font-weight:600;
    padding: 9px 10px 9px 10px;
    border-radius: 5px;}
	
	
	.package_but2{ width:100%; float:left; margin-top: 12px;}
.package_but2 a{ background-color: #ed2f59;
    color: #fff;
	font-weight:600;
    padding: 9px 10px 9px 10px;
    border-radius: 5px;}

.bg_fail1 {
       width: 100%;
    float: left;
    background-color: #fff;
    border: 1px solid #015077;
    padding: 5px 45px 5px 45px;
    height: auto;
    margin-top: 33px;
    border-radius: 18px;
}

.bg_fail1 .succe_cont{ width:100%; float:left;}

.bg_fail1 .succe_cont .booking_proc{ width:100%; float:left; margin-bottom:25px;}

.bg_fail1 .succe_cont .top_heading{width: 100%;
    float: left;
    text-align: center;
    padding: 35px 0px 15px 0px;}
	
.bg_fail1 .succe_cont .top_heading h1{font-size: 19px;
    color: #fff;}
.bg_fail1 .succe_cont .top_heading h1 span{	
	    background-color: rgb(1, 80, 119);
    padding: 13px 10px 13px 10px;
    border: 1px solid #FF0202;
    border-radius: 5px;
}

.form_fill{ width:100%; float:left;     padding: 50px 0px 50px 0px;}


.form_fill .form-data{ width:100%; float:left; border:1px solid #CCC;}
.form_fill .form-data h2{    font-size: 18px;
    padding: 15px 0px 0px 13px;
    font-weight: 600;
    color: #565656;}
.form_fill .form-data .heading-t{ width: 100%;
    float: left;
    text-align: center;
    padding: 20px 0px 20px 0px;
    font-size: x-large;
    font-weight: 600;
    color: #335f9b;}
	
	.form_fill .form-data .heading-t span{
	    width: 100%;
    float: left;
    padding: 15px;
    font-size: initial;
    color: #7b7b7b;}
	
	.left_radio {
    width: 20%;
	    padding: 10px 0px 10px 0px;
    float: left;
}

.control-group {
	width:100%;
	float:left;
}
.control {
	font-size: 15px;
	position: relative;
	display: block;
	margin-bottom: 15px;
	padding-left: 30px;
	cursor: pointer;
	font-weight:normal;
	color:#4e4e4e;
	    margin-top: 6px;
}

.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.control__indicator {
	position: absolute;
	top: 2px;
	left: 0;
	width: 20px;
	height: 20px;
	border: solid 1px #b1b1b1;
	border-radius: 2px;
}

.control--radio .control__indicator {
	border-radius: 50%;
}
/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
	border: solid 1px #b1b1b1;
}

/* Checked state */
.control input:checked ~ .control__indicator {
	background: #17417b;
	border: solid 0px #b1b1b1;
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
	background: #17417b;
}

/* Disabled state */
.control input:disabled ~ .control__indicator {
	pointer-events: none;
	opacity: .6;
	background: #e6e6e6;
}

/* Check mark */
.control__indicator:after {
	position: absolute;
	display: none;
	content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
	display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
    top: 2px;
    left: 7px;
    width: 6px;
    height: 12px;
    transform: rotate(45deg);
    border: solid #fff;
    border-width: 0 2px 2px 0;
}


/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
	border-color: #7b7b7b;
}

/* Radio button inner circle */
.control--radio .control__indicator:after {
	top: 7px;
	left: 7px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #fff;
}

/* Disabled circle colour */
.control--radio input:disabled ~ .control__indicator:after {
	background: #7b7b7b;
}
/* Radio and chackbox close */



.tab_inner_section {
    float: left;
    width: 100%;
    margin-bottom: 40px;
}

.heading_tab_inner {
    float: left;
    width: 100%;
    background: rgba(3,169,244,0.8);
    padding: 10px 30px;
}
.tab_inner_section .tab_inner_body {
    border: 1px solid #03A9F4;
    border-top: none;
    padding-bottom: 20px;
}

.full_width {
    float: left;
    width: 100%;
}

.payment_details_main {
    float: left;
    width: 100%;
    padding: 25px;
}
.package_table_section {
    border-top: 1px solid #03A9F4;
    border-bottom: 1px solid #03A9F4;
}
.package_table_section .border_right {
    border-right: 1px solid #00BCD4;
}
.package_table_section .payment_table_package {
    padding: 30px 0px;
}

.package_table_section .payment_table_package table {
   
    margin: 0 auto;
}


.payment_table_package table tr td{     padding: 2px;
    text-transform: capitalize;
    color: #145217;
    line-height: 26px;
	font-size: 17px;
	}
	
	.payment_table_package table tr.total_row {
    margin-top: 20px;
}
.payment_table_package table tr.total_row td {
    color: #335f9b;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}
.table_pad{ width:100%; float:left;}
.table_pad table{ padding:0px;}
.table_pad table tr td{ padding:5px 0px 5px 0px;}
.total_price_row {
    text-align: center;
}
.total_price_row p {
    color: #145217;
    font-size: 18px;
    padding-right: 10px;
	    display: inline-block;
    line-height: 36px;
}
.total_price_row h2 {
    color: #335f9b;
    font-weight: bold;
	display: inline-block;
    line-height: 36px;
}

.information_title {
    text-align: center;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid #03A9F4;
    padding-bottom: 20px;
    padding-top: 15px;
    font-weight: 700;
}
.scifiheader, strong {
    color: #737070;
   /* text-shadow: 0 0 0.3em #00BCD4, 0 0 0.3em #00BCD4, 0 0 0.3em #00BCD4;*/
}
.information_table_main {
    padding: 20px 0px;
    border-bottom: 1px solid #03A9F4;
}

.paymentinfo_list ul li {
    color: #00BCD4;
    font-size: 16px;
    line-height: 36px;
    position: relative;
    padding-left: 26px;
}
.paymentinfo_list ul li {
	list-style: none;
}
.paymentinfo_list ul li:before {
    content: "\f046";
    display: inline-block;
    position: absolute;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color:  #335f9b;
    left: 0;
    top: 11px;
}
.paymentinfo_list p {
    line-height: 24px;
    color: #00BCD4;
    margin: 0px;
	font-size:16px;
}
.paymentinfo_list span {
    line-height: 24px;
    color: #737070;
}
.t_align_c {
    text-align: center;
}
.booking_text.t_align_c span {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    color: #8BC34A;
    line-height: 20px;
}
.booking_text p {
    font-size: 16px;
    line-height: 36px;
    margin: 0;
}

.information_section .full_width.t_align_c button {
   
	margin:35px 0px 35px 0px;
}
.btn_green.proceed_buttton {
    font: normal 14px 'Lato', sans-serif;
    text-transform: uppercase;
    border: none;
    width: 260px;
    height: 48px;
    line-height: 48px;
}
.btn_green {
    background: rgba(3,169,244,0.8);
    color: #ffffff;
    text-transform: capitalize;
    border-radius: 5px;
}

.conyy{ width:100%; float:left;  padding: 12px 0px 12px 0px;}

.conyy table{ padding:0px;}
.conyy table tr td{ padding:5px 0px 5px 0px;}

.login_page{    width: 100%;
    float: left;
   /* background: #000 url(../img/login-bg.jpg) no-repeat fixed;
    background-size: cover;*/
    padding: 50px 0px 50px 0px;}
	
	.login_rege{    width: 100%;
    float: left;

    padding: 50px 0px 50px 0px;}
	
.login_page .top_pa{ width:100%; float:left; padding:0px 0px 0px 0px;}
.form-signin {
 
      max-width: 400px;
    background-color: rgb(255, 255, 255);
    padding: 15px 35px 45px;
    margin: 0px auto;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.0980392);
    border-image: initial;

}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 30px;
  
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.radio, .checkbox {
    display: block;
    min-height: 20px;
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
}


.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e;
}
.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}
.foge{font-weight: 600;}
.foge:hover{color:#23527c;}

.to_p{font-size: 20px;
    color: #335f9b;
}
.form_pa{ padding:10px 0px 0px 0px}


.p_class1 {
    width: 100%;
    float: left;
    padding: 32px 0px 32px 0px;
}
.p_class1 p {
    background-color: rgba(251, 251, 251, 0.18);
    padding: 15px;
    font-size: 14px;
    border-radius: 5px;
    border-left: 3px solid rgba(0,56,131,0.8);
    color: #696262;
    line-height: 29px;
}
.p_class1 p span {
    color: #ED2F59;
}

.succe {
    width: 100%;
    float: left;
    /*background: #000 url(../img/bg-con.jpg) no-repeat fixed;
    background-size: cover; */
    padding-bottom: 50px;
}
.doller_left p {
    color: #000;
    padding-left:45px;
}


.reupespps {
    font-size: 2.3em;
    color: #000000;
    line-height: 1em;
    padding-top: 1em;
    width: 100%;
    float: left;
    padding-right: 35px;
}
	
	.reupespps1{color: #000000;
	
	font-size: 1.2em;
    line-height: 1em;
	  padding-top: 1em;padding-top: 32px;}
	  
	  .reupespps2{padding-right: 35px;
	  
	  font-size: 2.3em;
    color: #000000;
    line-height: 1em;
    padding-top: 1em;
	  
	  }
	    
	
	.close_but{ }
	
	
	
	
	.close_but button {
    border: 1px solid #999;
    padding: 3px 5px 3px 5px;
    text-align: center;
    background-color: #fff;
    color: #c33b5a;
    border-radius: 50%;
    line-height: 8px;
    position: absolute;
    margin-top: 2px;
    right: 0;
}
		
		
		
		
	.close_but button i{ font-size:16px;}
	
	.cleck_mor{ width:100%; float:left; padding-top:20px;}
	.cleck_mor a{ cursor:pointer;}
	
	



/*css new by H*/
.banner_top {
	width:100%;
	float:left;
}
.banner_pic {
	width:100%;
	float:left;
	position:absolute;
}
.banner_pic img {
	width:100%;	
}
.logo_png {
    width: 20%;
    float: left;
    position: absolute;
    z-index: 9999;
    top: 89px;
}
.logo_png img {
	width:100%;
	float:left;
}
.main_title {
    text-align: center;
    font-size: 16px;
    margin-bottom: 30px;
}
.main_title h2 {
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 0;
    color: #009BDB;
    font-family: "Grinched Regular", Arial, sans-serif;
}
.modal_box{
	width:500px;
}
.model_header {
    width: 100%;
    float: left;
    border-bottom: solid 1px #CCCCCC;
    padding: 0px 0 10px 0;
}
.ticket_type {
	font-size:20px;
    margin-top: 15px;
	text-align:center;
}
.padding_space {
    padding: 20px;
    width: 100%;
    float: left;
}
.web_rupee {
	font-size:25px;
	margin-top: 15px;
	width:100%;
	float:left;
	text-align:center;
}

.reupespps_book {
    font-size: 2.1em;
    color: #000000;
    line-height: 1em;
    padding-top: 1em;
    width: 100%;
    float: left;
    padding-right: 0px;
}
.select_mr {
	height:33px !important;
	min-height: 33px !important;
}
.cener_div {
	/*width:300px;*/
	margin:auto;
}

.btn_collapse1 .fa{
	color:white;
	padding:0px 15px;
}

/*.btn_collapse1:hover .fa{
	-webkit-transform:rotate(180deg);
	-webkit-transition: -webkit-transform linear 0.3s;
}*/

.panel-heading .collapsed .more-minus{
	display:none;
}

.panel-heading a .more-minus{
	display:block;
}

.panel-heading a .more-plus{
	display:none;
}
.panel-heading .collapsed .more-plus{
	display:block;
}
#partner_login_form{
	width: 55% !important;
	margin:0 auto;
	float:none!important;
}


