@charset "utf-8";
/* CSS Document */
.page-container .main-content{ width:100%; float:left;}
.back-btn{ background:#303641; padding:10px 30px; box-sizing:border-box; display:inline-block;}
.back-btn .fa{font-size: 16px;margin: 0 5px 0 0;display: inline-block;line-height: 18px;}
.btn-capcha{ font-size:16px; line-height:18px; color:#fff;}
.search-summery-top{ width:100%; float:left; padding:10px 10px; background:#0098DA; box-sizing:border-box; color:#fff; font-size:14px; line-height:20px; border-radius:25px;margin: 15px 0 0 0;}
.search-summery-top span{ padding:0 0 0 5px; display:inline-block;}
.ticket_summery{ width:100%; float:left; background:#f1f1f1; margin:25px 0 0 0; padding:10px 5px; box-sizing:border-box;}
.ticket_summery label{ font-size:15px; line-height:40px;color:#303641;}
.ticket_summery .ticket_detail thead{}
.ticket_summery .ticket_detail thead > tr > th{ border-bottom:1px solid #000; font-size:15px; font-weight:600;}
.ticket_summery .ticket_detail tbody > tr > td{ font-size:16px; line-height:18px; color:#000;}
.ticket_summery .ticket_detail tbody > tr > td .vositor_count{ width:100%; float:left;}
.ticket_summery .ticket_detail tbody > tr > td .vositor_count form input[type="button"]{ background:#06c; color:#fff; border:none; border-radius:50%; width:30px; height:30px; outline:none;}
.ticket_summery .ticket_detail tbody > tr > td .vositor_count form input{height:30px;padding:5px 10px;width:30%;}
.ticket_summery .total_cost{ font-size:22px; font-weight:600; color:#06C; line-height:40px;}
.ticket_summery .book_now button{ padding:10px 30px; font-size:18px; line-height:22px; color:#fff; border:none; background:#06c; margin:10px 0 0 0;}


















