﻿@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
    margin:0px;
    padding:0px;
    line-height:18px;
    font-size:13px;
    background:url(../images/bg-default.png);
    font-family: 'Open Sans', sans-serif;
}
.wrapper{
    float:left;
    width:100%;
}

.loginpanel {
    margin: 7px 30px 7px 0;
    float: right;
}

.loginpanel .btn-primary{ min-width: 160px; background: none; color: #393939; border: none; }
.dropdown-menu{ right: 0px; width: 0px; }
.open > .dropdown-toggle.btn-primary{background: none; color: #393939; border: none;}
.btn:active:focus, .btn:focus {
    outline: none;
    outline:none;
    outline-offset:none;
    box-shadow: none;
}
.dataTables_paginate{ padding: 15px !important;}
.dataTables_info{ padding: 15px !important; }
td ul{ padding: 0px; list-style-type: none; }
thead tr th{ vertical-align: middle !important; }
.input_fields_container{ padding: 40px 0 0 0; }
.input_fields_container .add_more_button{ margin: 0 0 15px 0; }
.input_fields_container input{    width: 100%;float: left;padding: 10px 2px;height: 34px;margin: 0 0 15px 0;}

#sentmail input[type=submit]{
    background: #428bca;
    color: #fff;
    font-size: 16px;
    padding: 6px 20px;
    border: none;
}

.top_header{
    float:left;
    width:100%;
    height:50px;
    background:#fff;
    position:relative;
    z-index:5;
        border-bottom: solid 1px #186BB2;
		position:fixed;
		top:0px;
}
.logo_admin{
    width:117px;
    float:left;
    margin-top:3px;}
.logo_admin img{
    width:100%;
}
.left_nav_f{
	position:relative;
	margin-top:48px;}
.left_nav{
    float: left;
    /* width: 100%; */
    width: 16.66666667%;
    background: #1272a5;
    overflow-y: auto;
    position: fixed;
   
}
.left_nav ul{
    margin:0px;
    padding:0px;
    float:left;
    list-style-type:none;
    width:100%;
}
.grid_tbl td a.fa-trash {
    background: #f00;
    padding: 5px 5px;
    color: #fff;
    float: left;
    margin-right: 5px;
    border-radius: 3px;
}
.grid_tbl td a i.fa-trash {
    background: #f00;
    padding: 5px 5px;
    color: #fff;
    float: left;
    margin-right: 5px;
    border-radius: 3px;
}

.left_nav ul li{
    float:left;
    width:100%;
    background:#0397d9;
    border-bottom:solid 1px #1272a5;

}
.left_nav ul li.active_m{
    background: #cbd338;
}
.left_nav ul li a{
    float:left;
    padding:16px 0px 16px 45px;
    color:#fff;
    text-decoration:none;
    width:100%;
    position:relative;
}
.left_nav ul li a::after{
      content: "";
    position: absolute;
    border-left: solid 5px #ffffff;
    border-top: solid 5px transparent;
    border-bottom: solid 5px transparent;
    right: 10px;
    top: 50%;
    margin-top: -5px;
}
.left_nav ul li.active_m a::after{
      content: "";
    position: absolute;
    border-left: solid 5px transparent;
    border-top: solid 5px #ffffff;
    border-right: solid 5px transparent;
    right: 10px;
    top: 50%;
    margin-top: -5px;
}
.left_nav ul li a i{
    position:absolute;
    left:0px;
    top:0px;
    font-size:18px;
    text-align:center;
   
     width: 36px;
    height:100%;
    padding: 15px 0px;
     background:url(../images/side-bar-list-bg.png) top left;
    
}
.left_nav ul li ul{
    float:left;
    background:#1272a5;
    max-height:0px;
    transition:0.4s;
    overflow:hidden;

}
.left_nav ul li.active_m ul{
    max-height:2000px;
}
.left_nav ul li ul li{
    background:none;
}
.left_nav ul li ul li a{
    padding:8px 0px 8px 40px;
        border-bottom: solid 1px #2883b3;
        color: #dae1e8;
		font-size:12px;
}
.left_nav ul li ul li a.active_link{
    background: #053e5d;
    position: relative;
}
.left_nav ul li ul li a.active_link::before{
     content: "";
     border-right:solid 11px #fff;
     border-top:solid 11px transparent;
     border-bottom:solid 11px transparent;
     position: absolute;
     right:0px;
     top:6px;
    
}
.left_nav ul li ul li a:hover{
    color:#fff;
}
.left_nav ul li ul li:last-child a{
    border:none;
}
.left_nav ul li ul li a::after{
    display:none;
}
/*.left_nav ul li.active_m ul{
    height:200px;
}*/
/***************page_contant*************/

.page_contant{
    float:left;
    width:100%;
    min-height:calc(100vh - 48px);
	overflow-y:auto;
    background:#f5f4f4;
    box-shadow: 0px 0px 5px #404040;
    position:relative;
    z-index:4;
    padding:0px 0px 15px;
	 margin-top:48px; 
	
  
}
.page_name {
    float: left;
    width: 100%;
}
.page_name h2{
    margin:0px;
    padding:15px 0px;
    font-size:21px;

    
}
.page_box{
    float:left;
    width:100%;
    height:auto;
    background:#fff;
    box-shadow: 0px 0px 4px #C1C1C1;
    padding:10px 0px;
    margin-bottom:20px;
}
.page_box p{
    float:left;
    width:100%;
    margin:0px;
}
.sep_box{
    float:left;
    width:100%;
    padding:20px 0px;
}
.sep_box h3{
	font-size: 19px;
    margin: 0px;
    padding-bottom: 15px;
	float:left;
	width:100%;
	}
.tbl_text{
    font-size:13px;
    float:left;
        padding-top: 9px;
}
.tbl_input{
    float:left;
    width:100%;
}
.tbl_input input[type="url"],.tbl_input input[type="number"],.tbl_input input[type="text"],.tbl_input input[type="email"],.tbl_input input[type="tel"], .tbl_input input[type="password"], .tbl_input select, .tbl_input textarea{
    padding:9px 6px;
    border:solid 1px #E6E6E6;
    width:100%;
}
.submit_tbl{
    float:left;
    width:100%;

}
.submit_tbl .btn_button{
    float:left;
    border:none;
    padding:9px 14px;

     
}
.sub_btn{
    background:#186BB2;
    color:#fff;
}
.sub_btn:hover{
    background:#1B78C7;
}
/***************page_contant*************/
/****************grid****************/
.grid_tbl{
    float:left;
    width:100%;
     border-top:solid 1px #5C93C1;
        border-left:solid 1px #ECECEC;

}
.grid_tbl th{
   padding: 9px 8px;
    background:#fff  /*url(../images/tbl_head.png)*/;
    color: #393939;;
    font-weight: 500;
    text-transform: uppercase;
   
    font-size: 12px;
   border-right: solid 1px #5C93C1;
}

.grid_tbl td{
   padding: 6px 8px;
       border-right: solid 1px #D8E8F5;
    border-bottom: solid 1px #D8E8F5;
    color: #676767;
  
    
    
    font-size: 13px;
}
.grid_tbl td a{
	color:#16A1D8;
	text-decoration:none;}
	.grid_tbl td a i.fa-trash{
		background:#f00;
		padding:3px 0px;
		text-align:center;
		color:#fff;
		width:20px;
		height:20px;
		border-radius:70%;
		margin-right:5px;}
		.grid_tbl td a i.fa-pencil{
		background:#3CAF01;
		padding:3px 0px;
		text-align:center;
		color:#fff;
		width:20px;
		height:20px;
		border-radius:70%;}
.grid_tbl thead{
   border-left: solid 1px #5C93C1;
}
.grid_tbl tr:nth-child(2n+1){
    background:#F4FAFF;
}
.flashmsg{
    padding:10px;
    border:0px solid green;
    text-align:center;
   
    color:green;
}
.del_btn{
	background:#f00;
	border:none;
	padding:4px 8px;
	color:#fff;
	margin-bottom:8px;
	margin-right:4px;}
	.del_btn:hover{
		background:#C40101;}
	.sts_btn{
	background:#3CAF01;
	border:none;
	padding:4px 8px;
	color:#fff;
	margin-bottom:8px;}
	.sts_btn:hover{
		background:#2E8700;}
button{
	background: #1870BB;
    border: none;
    color: #fff;
    padding: 5px 10px;
    font-size: 13px;}
	::-webkit-scrollbar{
width:8px;
background-color:#cccccc;
} 
	::-webkit-scrollbar-thumb{
background-color:#8E8E8E;
border-radius:5px;
}
::-webkit-scrollbar-thumb:hover{
background-color:#565555;
}
::-webkit-scrollbar-thumb:active{
background-color:#8E8E8E;
} 
.select_check{
	float: left;
    width: 100%;
    padding: 3px 8px;
    background: #F1F1F1;
    font-size: 13px;
    border-radius: 4px;
	}
	#firsttable td{
		padding:3px 3px;}
        .dash_box{
            float:left;
            width:100%;
            height:auto;
			margin-bottom:25px;
           
        }
        .dash_box h2{
           float: left;
    width: 100%;
    color: #fff;
    font-size: 14px;
    margin: 0px;
    padding: 9px 0px;
    text-align: center;
    
    border-radius: 0px 0px 9px 9px;
        }
       .dash_box .vd-btn{
        float:left;
        width:100%;
        padding:6px 0px;
        text-align: center;
        transition: background 0.3s;
        border-radius:9px 9px 0px 0px;
        color:#fff;
        text-decoration: none;
       }
       .dash_box_1 .vd-btn{
        background: #4CA91C;
       }
       .dash_box_1 .vd-btn:hover{
         background: #00182B;
       }
        .dash_box_2 .vd-btn{
        background: #00182B;
       }
       .dash_box_2 .vd-btn:hover{
        background: #00182B;
       }
        .dash_box_1{
            background: #587288;
        }
        .dash_box_1 h2{
            background: #2a465e;
        }
        .dash_box_2 h2{
            background: #024f57;
        }
         .dash_box_2{
            background: #4CAF50;
        }
      .dash_b_t{
        float:left;
        width:100%;
        text-align: center;
        color:#fff;
        font-size:20px;
        padding:30px 0px;
        font-weight:bold;
      }
      .dash_tbl_d{
        float:left;
        width:100%;
        border:solid 1px #E6E6E6;
        padding:4px 4px;
      }
       .dash_tbl_d h2{
        float:left;
        margin:0px;
        padding:10px;
        width:100%;
        font-size:16px;
        background:#5285B1;
        color:#fff;
       }
        .dash_tbl_d table{
            float:left;
            width:100%;
           margin-top:5px;
           margin-left:1px;
            padding:0px;
            
        }
        .dash_tbl_d table th{
           font-size: 14px;
    font-weight: 500;
            padding:8px 5px;
            background: #6A6F73;
            color:#fff;
             
        }
        .dash_tbl_d table tr:nth-child(even){
            background: #F3F3F3;
        }
        .dash_tbl_d table td{
            font-size:15px;
            padding:7px 5px;
            font-size:13px;
           
        }
        .dash_tbl_d table td a{
               padding: 3px 5px;
    background: #4CA91C;
    color: #fff;
    text-decoration: none;
    font-size: 11px;
    border-radius: 4px;
        }
        .v_all{
            float:left;
            width:100%;

        }
        .v_all a{
                float: right;
    padding: 4px 10px;
    /* border: solid 1px #ccc; */
    background: #2D7CBF;
    border-radius: 5px;
    font-size:12px;
    color: #fff;
    text-decoration: none;
    margin: 5px 5px 0px 0px;
        }
    .dash_b_t i{width:100%; float:left;}
	.das_i1{float:left; width:45%; text-align:right;}
	.das_i2{float:left; width:50%; text-align:left; padding-left:10px;}
		.tab_ble{     width: 100%;
    float: left;
    overflow-x: auto;
    overflow-y: auto;
   /* max-height: 500px;*/
        }
@media screen and (max-width: 1366px){
.page_box {
    float: left;
    width: 100%;
    height: auto;
    background: #fff;
    box-shadow: 0px 0px 4px #C1C1C1;
    padding: 10px 0px;
    margin-bottom: 20px;
   /* overflow-x: auto;
    overflow-y: auto;
    max-height: 650px;*/
}

}

@media screen and (min-width: 1025px) and (max-width: 1214px)
{
	.menu-sm{display:none;}
}
@media screen and (max-width: 1024px){
	.left_nav_f{
	position:fixed;
	top:40px;
	z-index:999;}
.left_nav{
    float: left;
    /* width: 100%; */
    width: 250px;
    background: #1B78C7;
    overflow-y: auto;
    position: fixed;
	left:-250px;
	z-index:999;
	transition:0.4s;
	top:50px;
}

.menu-sm{
	float: left;
    margin-top: 13px;
    cursor: pointer;
    margin-right: 20px;
	}
	.menu-sm i{
	  font-size: 25px;
     color: rgb(101, 100, 100);
	 padding-left: 10px;
	 }

.active_mm{
	left:0px!important;
	transition:0.4s;
	}
	.page_box {
    float: left;
    width: 100%;
    height: auto;
    background: #fff;
    box-shadow: 0px 0px 4px #C1C1C1;
    padding: 10px 0px;
    margin-bottom: 20px;
    overflow-x: auto;
}

}

@media screen and (max-width: 567px){


	.left_nav_f{
	position:fixed;
	top:40px;
	z-index:999;}
.left_nav{
    float: left;
    /* width: 100%; */
    width: 250px;
    background: #1B78C7;
    overflow-y: auto;
    position: fixed;
	left:-250px;
	z-index:999;
	transition:0.4s;
	top:40px;
}
}
.overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    z-index: 9997;
}
.add_coment_canc {
    position: fixed;
    background: #fff;
    padding: 20px 20px;
    z-index: 9998;
    left: 50%;
    top: 25%;
    width: 300px;
    margin-left: -150px;
    border-radius: 10px;
}
.add_coment_canc textarea {
    padding: 10px 9px;
    width: 100%;
    border: solid 1px #E5E5E5;
    float: left;
    margin-right: 5px;
}
.comen_su {
    float: left;
    background: #00518C;
    color: #fff;
    padding: 7px 12px;
    text-decoration: none;
    margin: 15px 0px 0px 57px;
}
.comen_ca {
    float: left;
    background: #4EA1DE;
    color: #fff;
    padding: 7px 12px;
    text-decoration: none;
    margin: 15px 0px 0px 7px;
}
.pagi_nation{
float:left;
width:100%;
text-align:center;}
.newli strong{
float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #fff;
    text-decoration: none;
    background-color: #337ab7;
    border: 1px solid #ddd;}
	
.marg-top{margin-top:5px;}
.d_box{/*height:217px;*/}
.das_box{ float: left; width: 100%;}
.dash_b_t1{
 /*   padding: 68px 0px;*/
    }
.dash_box_3 h2{background:#239628;}
.dash_box_3 .vd-btn{background:#0F6512;}
.dash_box_4 h2{background:#215B65;}
.dash_box_4 .vd-btn{background:#0C2A2F;}
.d_box_2 {background: #2196F3;}
.dash_box_04{background: #4CAF50;}
.dash_box_5{background: #21464C;}
.d_box_2 .vd-btn{background:#074B81;}
.dash_box_003 h2{background:#096CBB;}

.nav-tabs > li > a{ text-decoration:none;}

hover {
    border-color: #eee #eee #ddd;
}

.nav > li > a:focus, .nav > li > a:hover { background-color:#186bb2; color:#fff;}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
  background-color:#186bb2; color:#fff;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  color:#fff;
    cursor: default;
    background-color: #186bb2;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.form-conte{ width:100%; float:left;}
.nav-tabs > li > a{ color:#666;}

.form-conte{ width:100%; float:left; padding: 21px 0px 21px 0px;}
.threshold{ width:100%; float:left;padding: 10px 0px 10px 0px;}

.threshold .head_top_ba{ width:100%; float:left;}

.threshold .head_top_ba .left_te{ width:100%; float:left;}
.threshold .head_top_ba .left_te h1{ color:#aba9a9;}
.threshold .head_top_ba .left_te h1 span{     color: #616161;
    font-size: smaller;}
	
	
.threshold .head_top_ba .right_te{ width:100%; float:left;text-align:right; padding: 35px 0px 15px 0px;}
.threshold .head_top_ba .right_te a{    background-color: #1b78c7;
    color: #fff;
    text-decoration: none;
    padding: 10px 40px 10px 40px;
    font-weight: 600;
	    border-radius: 5px;}
.threshold .head_top_ba .right_te a span{    padding-right: 12px; }
.threshold .threshole_cont_tab{ width:100%; float:left; padding: 50px 0px 50px 0px;}
.threshold .threshole_cont_tab table{ width:100%; float:left; border: 1px solid #e8e8e8;}
.threshold .threshole_cont_tab table tr{ }
.threshold .threshole_cont_tab table th{        line-height: 50px;
    padding-left: 7px;
    background-color: #1b78c7;
    color: #fff;}
.threshold .threshole_cont_tab table td{line-height: 35px; padding-left: 8px; }
.threshold .threshole_cont_tab table td input{    text-align: center;
margin: 5px 5px 5px 0px;
    width: 90%;}
	
	.threshold .threshole_cont_tab table td .updte_but{ width:100%; float:left; text-align:center;}
	.threshold .threshole_cont_tab table td .updte_but a{ background-color: #1b78c7;
    color: #fff;
	font-weight:600;
    text-decoration: none;
    padding: 6px 30px 6px 30px;
    border-radius: 5px;}
	.threshold .threshole_cont_tab table td .bagy{
	   background-color: rgba(228, 228, 228, 0.52);}
	   
	   
	 .threshold .mid_con{ width:100%; float:left;background-color: beige;
    box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.32);}
	.add_comp{ width:100%; float:left;}
	
.btn_tets{border: none;
    background-color: #1b78c7;
    color: #fff;
    padding: 10px 30px 10px 30px;
    font-weight: 800;
    border-radius: 5px;}
	
	.btn-primary{ text-decoration:none;}
	
	.pad_ding{ width:100%; float:left;}
	
	.welcom_te{ width:100%; float:left; text-align:center;}
						.welcom_te h1{ width:100%; float:left; padding:20% 0px 40% 0px; }
	
	
.tbl_overflow{ width:100%; float:left;}



	@media only screen and (max-width:480px) and (min-width:320px){
		.pad_ding{ padding:50px 0px 0px 0px}
	.btn_tets{ width:100%; float:left;    margin: 20px 0px 20px 0px; width: 100%; float: left;}
	
	.threshold .threshole_cont_tab table th{    line-height: 18px !important;
  background-color: #1b78c7;
    color: #fff;
    padding: 10px 10px 10px 10px;}
	#left {
		width:100%;
    float: left;
}	

.advance_btn {
	width:100%;
	text-align:center;
    float: left;
	background-color:#186BB2;
}

#center{ width:100% !important; float:left; padding:0px !important;}
.submit_tbl .btn_button{ width:100%; margin: 10px 0px 10px 0px;}
#right{ width:100%; float:left;}
#right button{ background-color:#186BB2; width:100%; float:left;}

.sep_box {
    float: left;
    width: 100%;
    padding: 8px 0px;
}


.dataTables_length{padding: 10px 0px 10px 0px;}
	}
	
@media only screen and (max-width:767px) and (min-width:480px){
.btn_tets{ width:100%; float:left;    margin: 20px 0px 20px 0px; width: 100%; float: left;}
		
#left {
width:100%;
float: left;
}	

.advance_btn {
	width:100%;
	text-align:center;
    float: left;
	background-color:#186BB2;
}

#center{ width:100% !important; float:left; padding:0px !important;}
.submit_tbl .btn_button{ width:100%; margin: 10px 0px 10px 0px;}
#right{ width:100%; float:left;}
#right button{ background-color:#186BB2; width:100%; float:left;}	
.sep_box {
    float: left;
    width: 100%;
    padding: 8px 0px;
}

	}
	
	.dataTables_wrapper .dataTables_paginate .paginate_button{ padding: 5px 5px 5px 5px !important; margin-bottom: 17px;}
	.inbox_dta{ width: 100%;
    float: left;
    border: 1px solid #eaeaea;
    /*background-color: #f7f7f7;*/}
	
.left_pane-box{ width:100%; float:left;}
.left_pane-box .compose_mail{ width: 100%;
    float: left;
    text-align: center;
    background-color: #1b78c7;
    padding: 8px 0px;
    margin: 5px 0px;
	margin-bottom: 30px;
	
}
.left_pane-box .compose_mail a{ color:#fff;}
.left_pane-box .compose_mail a:hover{ text-decoration:none;}
.left_pane-box .flo_de{position: relative;
width:100%; float:left;
    border-top: 0;
    margin-bottom: 20px;
    width: 100%;
    background: #fff;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    border-radius: 0;
    padding: 5px;}
.left_pane-box .flo_de .fol_der_he{ width:100%; float:left;     padding: 9px 10px;}
.left_pane-box .flo_de .fol_der_he h1{ font-size:15px; text-align:left;    color: #828282; margin:0px;}
.left_pane-box .flo_de .fol_der_he h1 span{text-align: right;
    float: right;} 
.left_pane-box .in_vo{ width:100%; float:left;     padding: 15px 0px;}
.left_pane-box .in_vo ul{ list-style:none; margin:0px; padding: 0px;}
.left_pane-box .in_vo ul li{ width:100%; float:left;}

.left_pane-box .in_vo ul li a{width: 100%;
    float: left; padding: 10px 16px;}
	.left_pane-box .in_vo ul li a:hover{ text-decoration:none;    border-left: 2px solid #1b78c7; }
.left_pane-box .in_vo ul li a i{    margin-right: 15px;}
.left_pane-box .in_vo ul li .open{ background-color:#1b78c7; color:#fff;}
.left_pane-box .in_vo ul li a span{ float:right;}
.left_nav ul li.single-sibling a::after{ display: none; }
.dataTables_filter input {
    border: 1px solid #ddd;
    padding: 5px 5px;
}
.dataTables_length select{
border: 1px solid #ddd;
    padding: 5px 5px;
}
.btn_delete,.btn_edit,.btn_status{
    float:left;
    margin-right:3px;
    padding:3px 8px;
    
    color:#fff;
}
.btn_delete{
  background: #f00;  
}
.btn_edit{
  background: #545454;  
}
.btn_status{
  background: #0f71c3; 
  text-decoration: none; 
}
.btn_delete:hover,.btn_edit:hover,.btn_status:hover{
    color:#fff;
}




